src/assets/xml/caseIRLB.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrlbLiPersonInvolvTypeSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRLB_LI_PERSON_INVOLV_TYPE_SRV" targetNamespace="http://tempuri.org/IrlbLiPersonInvolvTypeSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrlbLiPersonInvolvTypeSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrlbLiPersonInvolvTypeSrv/">
<xs:element name="IrlbLiPersonInvolvTypeSrvcall" type="tns:IrlbLiPersonInvolvTypeSrvcall"/>
<xs:element name="IrlbLiPersonInvolvTypeSrvcallResponse" type="tns:IrlbLiPersonInvolvTypeSrvcallResponse"/>
<xs:complexType name="IrlbLiPersonInvolvTypeSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrlbLiPersonInvolvTypeSrvImport" type="tns:IrlbLiPersonInvolvTypeSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrlbLiPersonInvolvTypeSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="GroupImport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrlbLiPersonInvolvTypeSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrlbLiPersonInvolvTypeSrvExport" type="tns:IrlbLiPersonInvolvTypeSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrlbLiPersonInvolvTypeSrvExport">
<xs:sequence>
<xs:element name="ExportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GroupExport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrlbLiPersonInvolvTypeSrvcallResponse">
<wsdl:part element="tns:IrlbLiPersonInvolvTypeSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrlbLiPersonInvolvTypeSrvcall">
<wsdl:part element="tns:IrlbLiPersonInvolvTypeSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRLB_LI_PERSON_INVOLV_TYPE_SRV">
<wsdl:operation name="IrlbLiPersonInvolvTypeSrvcall">
<wsdl:input message="tns:IrlbLiPersonInvolvTypeSrvcall" name="IrlbLiPersonInvolvTypeSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrlbLiPersonInvolvTypeSrvcallResponse" name="IrlbLiPersonInvolvTypeSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRLB_LI_PERSON_INVOLV_TYPE_SRVSoapBinding" type="tns:IRLB_LI_PERSON_INVOLV_TYPE_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrlbLiPersonInvolvTypeSrvcall">
<soap:operation soapAction="http://tempuri.org/IrlbLiPersonInvolvTypeSrvcall/" style="document"/>
<wsdl:input name="IrlbLiPersonInvolvTypeSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrlbLiPersonInvolvTypeSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRLB_LI_PERSON_INVOLV_TYPE_SRV">
<wsdl:port binding="tns:IRLB_LI_PERSON_INVOLV_TYPE_SRVSoapBinding" name="IRLB_LI_PERSON_INVOLV_TYPE_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRLB/IRLB_LI_PERSON_INVOLV_TYPE_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>