src/assets/xml/caseIRIR_TRAN.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrirTranArchMicrofilmDetSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRIR_TRAN_ARCH_MICROFILM_DET_SRV" targetNamespace="http://tempuri.org/IrirTranArchMicrofilmDetSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrirTranArchMicrofilmDetSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrirTranArchMicrofilmDetSrv/">
<xs:element name="IrirTranArchMicrofilmDetSrvcall" type="tns:IrirTranArchMicrofilmDetSrvcall"/>
<xs:element name="IrirTranArchMicrofilmDetSrvcallResponse" type="tns:IrirTranArchMicrofilmDetSrvcallResponse"/>
<xs:complexType name="IrirTranArchMicrofilmDetSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrirTranArchMicrofilmDetSrvImport" type="tns:IrirTranArchMicrofilmDetSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrirTranArchMicrofilmDetSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportNewArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOldArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNewArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOldArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrirTranArchMicrofilmDetSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrirTranArchMicrofilmDetSrvExport" type="tns:IrirTranArchMicrofilmDetSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrirTranArchMicrofilmDetSrvExport">
<xs:sequence>
<xs:element name="ExportNewArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOldArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNewArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOldArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrirTranArchMicrofilmDetSrvcallResponse">
<wsdl:part element="tns:IrirTranArchMicrofilmDetSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrirTranArchMicrofilmDetSrvcall">
<wsdl:part element="tns:IrirTranArchMicrofilmDetSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRIR_TRAN_ARCH_MICROFILM_DET_SRV">
<wsdl:operation name="IrirTranArchMicrofilmDetSrvcall">
<wsdl:input message="tns:IrirTranArchMicrofilmDetSrvcall" name="IrirTranArchMicrofilmDetSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrirTranArchMicrofilmDetSrvcallResponse" name="IrirTranArchMicrofilmDetSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRIR_TRAN_ARCH_MICROFILM_DET_SRVSoapBinding" type="tns:IRIR_TRAN_ARCH_MICROFILM_DET_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrirTranArchMicrofilmDetSrvcall">
<soap:operation soapAction="http://tempuri.org/IrirTranArchMicrofilmDetSrvcall/" style="document"/>
<wsdl:input name="IrirTranArchMicrofilmDetSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrirTranArchMicrofilmDetSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRIR_TRAN_ARCH_MICROFILM_DET_SRV">
<wsdl:port binding="tns:IRIR_TRAN_ARCH_MICROFILM_DET_SRVSoapBinding" name="IRIR_TRAN_ARCH_MICROFILM_DET_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRIR/IRIR_TRAN_ARCH_MICROFILM_DET_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>