src/assets/xml/caseIRUR.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrurCrArchiveMicrofilmSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRUR_CR_ARCHIVE_MICROFILM_SRV" targetNamespace="http://tempuri.org/IrurCrArchiveMicrofilmSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrurCrArchiveMicrofilmSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrurCrArchiveMicrofilmSrv/">
<xs:element name="IrurCrArchiveMicrofilmSrvcall" type="tns:IrurCrArchiveMicrofilmSrvcall"/>
<xs:element name="IrurCrArchiveMicrofilmSrvcallResponse" type="tns:IrurCrArchiveMicrofilmSrvcallResponse"/>
<xs:complexType name="IrurCrArchiveMicrofilmSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrurCrArchiveMicrofilmSrvImport" type="tns:IrurCrArchiveMicrofilmSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrurCrArchiveMicrofilmSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportMicrofilmIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportFlagIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Text1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import2579ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1107ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1106ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1104ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1105ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1103ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import4940ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1102ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1031ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchiveIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPubArcPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrurCrArchiveMicrofilmSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrurCrArchiveMicrofilmSrvExport" type="tns:IrurCrArchiveMicrofilmSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrurCrArchiveMicrofilmSrvExport">
<xs:sequence>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMicrofilmIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportFlagIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Text1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export2579ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1107ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1106ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1104ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1105ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1103ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export4940ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1102ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1031ArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchiveIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPubArcPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrurCrArchiveMicrofilmSrvcall">
<wsdl:part element="tns:IrurCrArchiveMicrofilmSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrurCrArchiveMicrofilmSrvcallResponse">
<wsdl:part element="tns:IrurCrArchiveMicrofilmSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRUR_CR_ARCHIVE_MICROFILM_SRV">
<wsdl:operation name="IrurCrArchiveMicrofilmSrvcall">
<wsdl:input message="tns:IrurCrArchiveMicrofilmSrvcall" name="IrurCrArchiveMicrofilmSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrurCrArchiveMicrofilmSrvcallResponse" name="IrurCrArchiveMicrofilmSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRUR_CR_ARCHIVE_MICROFILM_SRVSoapBinding" type="tns:IRUR_CR_ARCHIVE_MICROFILM_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrurCrArchiveMicrofilmSrvcall">
<soap:operation soapAction="http://tempuri.org/IrurCrArchiveMicrofilmSrvcall/" style="document"/>
<wsdl:input name="IrurCrArchiveMicrofilmSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrurCrArchiveMicrofilmSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRUR_CR_ARCHIVE_MICROFILM_SRV">
<wsdl:port binding="tns:IRUR_CR_ARCHIVE_MICROFILM_SRVSoapBinding" name="IRUR_CR_ARCHIVE_MICROFILM_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRUR/IRUR_CR_ARCHIVE_MICROFILM_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>