src/assets/xml/caseIRLL.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrllUpCustodyForCpiSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRLL_UP_CUSTODY_FOR_CPI_SRV" targetNamespace="http://tempuri.org/IrllUpCustodyForCpiSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrllUpCustodyForCpiSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrllUpCustodyForCpiSrv/">
<xs:element name="IrllUpCustodyForCpiSrvcall" type="tns:IrllUpCustodyForCpiSrvcall"/>
<xs:element name="IrllUpCustodyForCpiSrvcallResponse" type="tns:IrllUpCustodyForCpiSrvcallResponse"/>
<xs:complexType name="IrllUpCustodyForCpiSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrllUpCustodyForCpiSrvImport" type="tns:IrllUpCustodyForCpiSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrllUpCustodyForCpiSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportSelectedJailPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedReleasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedRequestPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRequestPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportReleasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportJailPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseCustody">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="JailedDate" nillable="true" type="xs:string"/>
<xs:element name="Period" type="xs:short"/>
<xs:element name="SequenceNo" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonReleased" type="xs:string"/>
<xs:element minOccurs="0" name="ReasonHeld" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Type" type="xs:string"/>
<xs:element name="World" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNationality">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrllUpCustodyForCpiSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrllUpCustodyForCpiSrvExport" type="tns:IrllUpCustodyForCpiSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrllUpCustodyForCpiSrvExport">
<xs:sequence>
<xs:element name="ExportNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOrgIndicatorIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRequestPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportReleasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportJailPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseCustody">
<xs:complexType>
<xs:sequence>
<xs:element name="JailedDate" nillable="true" type="xs:string"/>
<xs:element name="Period" type="xs:short"/>
<xs:element name="SequenceNo" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="ReasonReleased" type="xs:string"/>
<xs:element name="ReasonHeld" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="Type" type="xs:string"/>
<xs:element name="World" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrllUpCustodyForCpiSrvcallResponse">
<wsdl:part element="tns:IrllUpCustodyForCpiSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrllUpCustodyForCpiSrvcall">
<wsdl:part element="tns:IrllUpCustodyForCpiSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRLL_UP_CUSTODY_FOR_CPI_SRV">
<wsdl:operation name="IrllUpCustodyForCpiSrvcall">
<wsdl:input message="tns:IrllUpCustodyForCpiSrvcall" name="IrllUpCustodyForCpiSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrllUpCustodyForCpiSrvcallResponse" name="IrllUpCustodyForCpiSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRLL_UP_CUSTODY_FOR_CPI_SRVSoapBinding" type="tns:IRLL_UP_CUSTODY_FOR_CPI_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrllUpCustodyForCpiSrvcall">
<soap:operation soapAction="http://tempuri.org/IrllUpCustodyForCpiSrvcall/" style="document"/>
<wsdl:input name="IrllUpCustodyForCpiSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrllUpCustodyForCpiSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRLL_UP_CUSTODY_FOR_CPI_SRV">
<wsdl:port binding="tns:IRLL_UP_CUSTODY_FOR_CPI_SRVSoapBinding" name="IRLL_UP_CUSTODY_FOR_CPI_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRLL/IRLL_UP_CUSTODY_FOR_CPI_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>