src/assets/xml/caseIRBB_TEXT.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrbbCrCaseBasicDetailsTSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBB_CR_CASE_BASIC_DETAILS_T_SRV" targetNamespace="http://tempuri.org/IrbbCrCaseBasicDetailsTSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrbbCrCaseBasicDetailsTSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrbbCrCaseBasicDetailsTSrv/">
<xs:element name="IrbbCrCaseBasicDetailsTSrvcall" type="tns:IrbbCrCaseBasicDetailsTSrvcall"/>
<xs:element name="IrbbCrCaseBasicDetailsTSrvcallResponse" type="tns:IrbbCrCaseBasicDetailsTSrvcallResponse"/>
<xs:complexType name="IrbbCrCaseBasicDetailsTSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrbbCrCaseBasicDetailsTSrvImport" type="tns:IrbbCrCaseBasicDetailsTSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbbCrCaseBasicDetailsTSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="GpImport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InCaseDetails">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DetailLine" type="xs:string"/>
<xs:element name="LineNumber" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import2PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrbbCrCaseBasicDetailsTSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrbbCrCaseBasicDetailsTSrvExport" type="tns:IrbbCrCaseBasicDetailsTSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbbCrCaseBasicDetailsTSrvExport">
<xs:sequence>
<xs:element name="GpExport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutCaseDetails">
<xs:complexType>
<xs:sequence>
<xs:element name="DetailLine" type="xs:string"/>
<xs:element name="LineNumber" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export2PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrbbCrCaseBasicDetailsTSrvcallResponse">
<wsdl:part element="tns:IrbbCrCaseBasicDetailsTSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbbCrCaseBasicDetailsTSrvcall">
<wsdl:part element="tns:IrbbCrCaseBasicDetailsTSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBB_CR_CASE_BASIC_DETAILS_T_SRV">
<wsdl:operation name="IrbbCrCaseBasicDetailsTSrvcall">
<wsdl:input message="tns:IrbbCrCaseBasicDetailsTSrvcall" name="IrbbCrCaseBasicDetailsTSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrbbCrCaseBasicDetailsTSrvcallResponse" name="IrbbCrCaseBasicDetailsTSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBB_CR_CASE_BASIC_DETAILS_T_SRVSoapBinding" type="tns:IRBB_CR_CASE_BASIC_DETAILS_T_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrbbCrCaseBasicDetailsTSrvcall">
<soap:operation soapAction="http://tempuri.org/IrbbCrCaseBasicDetailsTSrvcall/" style="document"/>
<wsdl:input name="IrbbCrCaseBasicDetailsTSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrbbCrCaseBasicDetailsTSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBB_CR_CASE_BASIC_DETAILS_T_SRV">
<wsdl:port binding="tns:IRBB_CR_CASE_BASIC_DETAILS_T_SRVSoapBinding" name="IRBB_CR_CASE_BASIC_DETAILS_T_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRBB/IRBB_CR_CASE_BASIC_DETAILS_T_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>