src/assets/xml/caseIRIR.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrirUpTranArchiveMicrofilmS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRIR_UP_TRAN_ARCHIVE_MICROFILM_S" targetNamespace="http://tempuri.org/IrirUpTranArchiveMicrofilmS/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrirUpTranArchiveMicrofilmS/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrirUpTranArchiveMicrofilmS/">
<xs:element name="IrirUpTranArchiveMicrofilmScall" type="tns:IrirUpTranArchiveMicrofilmScall"/>
<xs:element name="IrirUpTranArchiveMicrofilmScallResponse" type="tns:IrirUpTranArchiveMicrofilmScallResponse"/>
<xs:complexType name="IrirUpTranArchiveMicrofilmScall">
<xs:sequence>
<xs:element minOccurs="0" name="IrirUpTranArchiveMicrofilmSImport" type="tns:IrirUpTranArchiveMicrofilmSImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrirUpTranArchiveMicrofilmSImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportArchSelectedPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMicroGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportMicroIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMicroMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportArchIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrirUpTranArchiveMicrofilmScallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrirUpTranArchiveMicrofilmSExport" type="tns:IrirUpTranArchiveMicrofilmSExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrirUpTranArchiveMicrofilmSExport">
<xs:sequence>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMicroGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportMicroIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMicroMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportArchIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchSelectedPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrirUpTranArchiveMicrofilmScall">
<wsdl:part element="tns:IrirUpTranArchiveMicrofilmScall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrirUpTranArchiveMicrofilmScallResponse">
<wsdl:part element="tns:IrirUpTranArchiveMicrofilmScallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRIR_UP_TRAN_ARCHIVE_MICROFILM_S">
<wsdl:operation name="IrirUpTranArchiveMicrofilmScall">
<wsdl:input message="tns:IrirUpTranArchiveMicrofilmScall" name="IrirUpTranArchiveMicrofilmScall"> </wsdl:input>
<wsdl:output message="tns:IrirUpTranArchiveMicrofilmScallResponse" name="IrirUpTranArchiveMicrofilmScallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRIR_UP_TRAN_ARCHIVE_MICROFILM_SSoapBinding" type="tns:IRIR_UP_TRAN_ARCHIVE_MICROFILM_S">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrirUpTranArchiveMicrofilmScall">
<soap:operation soapAction="http://tempuri.org/IrirUpTranArchiveMicrofilmScall/" style="document"/>
<wsdl:input name="IrirUpTranArchiveMicrofilmScall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrirUpTranArchiveMicrofilmScallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRIR_UP_TRAN_ARCHIVE_MICROFILM_S">
<wsdl:port binding="tns:IRIR_UP_TRAN_ARCHIVE_MICROFILM_SSoapBinding" name="IRIR_UP_TRAN_ARCHIVE_MICROFILM_SPort">
<soap:address location="http://10.11.78.103:9080/IRIR/IRIR_UP_TRAN_ARCHIVE_MICROFILM_S"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>