src/assets/xml/caseIRIS.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrisDelArchiveMicrofilmSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRIS_DEL_ARCHIVE_MICROFILM_SRV" targetNamespace="http://tempuri.org/IrisDelArchiveMicrofilmSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrisDelArchiveMicrofilmSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrisDelArchiveMicrofilmSrv/">
<xs:element name="IrisDelArchiveMicrofilmSrvcall" type="tns:IrisDelArchiveMicrofilmSrvcall"/>
<xs:element name="IrisDelArchiveMicrofilmSrvcallResponse" type="tns:IrisDelArchiveMicrofilmSrvcallResponse"/>
<xs:complexType name="IrisDelArchiveMicrofilmSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrisDelArchiveMicrofilmSrvImport" type="tns:IrisDelArchiveMicrofilmSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisDelArchiveMicrofilmSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportDelMicrofilmIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportDelArchiveIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMicroGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportMicroIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportArchIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrisDelArchiveMicrofilmSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrisDelArchiveMicrofilmSrvExport" type="tns:IrisDelArchiveMicrofilmSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrisDelArchiveMicrofilmSrvExport">
<xs:sequence>
<xs:element name="ExportDelMicrofilmIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDelArchiveIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMicroGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportMicroIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchGrp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportArchIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrisDelArchiveMicrofilmSrvcall">
<wsdl:part element="tns:IrisDelArchiveMicrofilmSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrisDelArchiveMicrofilmSrvcallResponse">
<wsdl:part element="tns:IrisDelArchiveMicrofilmSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRIS_DEL_ARCHIVE_MICROFILM_SRV">
<wsdl:operation name="IrisDelArchiveMicrofilmSrvcall">
<wsdl:input message="tns:IrisDelArchiveMicrofilmSrvcall" name="IrisDelArchiveMicrofilmSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrisDelArchiveMicrofilmSrvcallResponse" name="IrisDelArchiveMicrofilmSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRIS_DEL_ARCHIVE_MICROFILM_SRVSoapBinding" type="tns:IRIS_DEL_ARCHIVE_MICROFILM_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrisDelArchiveMicrofilmSrvcall">
<soap:operation soapAction="http://tempuri.org/IrisDelArchiveMicrofilmSrvcall/" style="document"/>
<wsdl:input name="IrisDelArchiveMicrofilmSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrisDelArchiveMicrofilmSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRIS_DEL_ARCHIVE_MICROFILM_SRV">
<wsdl:port binding="tns:IRIS_DEL_ARCHIVE_MICROFILM_SRVSoapBinding" name="IRIS_DEL_ARCHIVE_MICROFILM_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRIS/IRIS_DEL_ARCHIVE_MICROFILM_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>