src/assets/xml/caseIROA.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IroaLsNonKwtVehCasesSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IROA_LS_NON_KWT_VEH_CASES_SRV" targetNamespace="http://tempuri.org/IroaLsNonKwtVehCasesSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IroaLsNonKwtVehCasesSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IroaLsNonKwtVehCasesSrv/">
<xs:element name="IroaLsNonKwtVehCasesSrvcall" type="tns:IroaLsNonKwtVehCasesSrvcall"/>
<xs:element name="IroaLsNonKwtVehCasesSrvcallResponse" type="tns:IroaLsNonKwtVehCasesSrvcallResponse"/>
<xs:complexType name="IroaLsNonKwtVehCasesSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IroaLsNonKwtVehCasesSrvImport" type="tns:IroaLsNonKwtVehCasesSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IroaLsNonKwtVehCasesSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCaseType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiShape">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMinorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMajorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOwnerGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportDriverGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiCity">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMakeGdc2moiMake">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOwnerNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportDriverNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element minOccurs="0" name="VehicleIdNumber" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="MovementDateTime" type="xs:string"/>
<xs:element minOccurs="0" name="PlateCharacters" type="xs:string"/>
<xs:element minOccurs="0" name="Model" type="xs:string"/>
<xs:element name="YearOfManufacture" type="xs:short"/>
<xs:element minOccurs="0" name="MovementDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="MovementTime" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerNumber" type="xs:string"/>
<xs:element minOccurs="0" name="DriverIdNumber" type="xs:string"/>
<xs:element minOccurs="0" name="DriverIdType" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IroaLsNonKwtVehCasesSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IroaLsNonKwtVehCasesSrvExport" type="tns:IroaLsNonKwtVehCasesSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IroaLsNonKwtVehCasesSrvExport">
<xs:sequence>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiShape">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMinorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMajorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOwnerGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDriverGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiCity">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMakeGdc2moiMake">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOwnerNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDriverNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element name="VehicleIdNumber" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="MovementDateTime" type="xs:string"/>
<xs:element name="PlateCharacters" type="xs:string"/>
<xs:element name="Model" type="xs:string"/>
<xs:element name="YearOfManufacture" type="xs:short"/>
<xs:element name="MovementDate" nillable="true" type="xs:string"/>
<xs:element name="MovementTime" nillable="true" type="xs:string"/>
<xs:element name="OwnerNumber" type="xs:string"/>
<xs:element name="DriverIdNumber" type="xs:string"/>
<xs:element name="DriverIdType" type="xs:string"/>
<xs:element name="OwnerIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IroaLsNonKwtVehCasesSrvcall">
<wsdl:part element="tns:IroaLsNonKwtVehCasesSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IroaLsNonKwtVehCasesSrvcallResponse">
<wsdl:part element="tns:IroaLsNonKwtVehCasesSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IROA_LS_NON_KWT_VEH_CASES_SRV">
<wsdl:operation name="IroaLsNonKwtVehCasesSrvcall">
<wsdl:input message="tns:IroaLsNonKwtVehCasesSrvcall" name="IroaLsNonKwtVehCasesSrvcall"> </wsdl:input>
<wsdl:output message="tns:IroaLsNonKwtVehCasesSrvcallResponse" name="IroaLsNonKwtVehCasesSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IROA_LS_NON_KWT_VEH_CASES_SRVSoapBinding" type="tns:IROA_LS_NON_KWT_VEH_CASES_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IroaLsNonKwtVehCasesSrvcall">
<soap:operation soapAction="http://tempuri.org/IroaLsNonKwtVehCasesSrvcall/" style="document"/>
<wsdl:input name="IroaLsNonKwtVehCasesSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IroaLsNonKwtVehCasesSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IROA_LS_NON_KWT_VEH_CASES_SRV">
<wsdl:port binding="tns:IROA_LS_NON_KWT_VEH_CASES_SRVSoapBinding" name="IROA_LS_NON_KWT_VEH_CASES_SRVPort">
<soap:address location="http://10.11.78.103:9080/IROA/IROA_LS_NON_KWT_VEH_CASES_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>