src/assets/xml/caseIRDP.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrdpDiInvolvementsForCaseSr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRDP_DI_INVOLVEMENTS_FOR_CASE_SR" targetNamespace="http://tempuri.org/IrdpDiInvolvementsForCaseSr/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrdpDiInvolvementsForCaseSr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrdpDiInvolvementsForCaseSr/">
<xs:element name="IrdpDiInvolvementsForCaseSrcall" type="tns:IrdpDiInvolvementsForCaseSrcall"/>
<xs:element name="IrdpDiInvolvementsForCaseSrcallResponse" type="tns:IrdpDiInvolvementsForCaseSrcallResponse"/>
<xs:complexType name="IrdpDiInvolvementsForCaseSrcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrdpDiInvolvementsForCaseSrImport" type="tns:IrdpDiInvolvementsForCaseSrImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdpDiInvolvementsForCaseSrImport">
<xs:sequence>
<xs:element minOccurs="0" name="GroupImport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
<xs:element minOccurs="0" name="ConcatLatinName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="PersonTypePpTpPoiText" type="xs:string"/>
<xs:element minOccurs="0" name="Sex" type="xs:string"/>
<xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="MaritalStatus" type="xs:string"/>
<xs:element minOccurs="0" name="Religion" type="xs:string"/>
<xs:element minOccurs="0" name="EducationLevel" type="xs:string"/>
<xs:element minOccurs="0" name="BloodGroup" type="xs:string"/>
<xs:element minOccurs="0" name="PersonTypePpTpPoiNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CivilIdNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element minOccurs="0" name="InjuryType" type="xs:string"/>
<xs:element name="YearsAgeIncident" type="xs:short"/>
<xs:element name="MonthsAgeIncident" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InBirthNationality">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InNationality">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InOccupation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportInvolvementCountIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrdpDiInvolvementsForCaseSrcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrdpDiInvolvementsForCaseSrExport" type="tns:IrdpDiInvolvementsForCaseSrExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdpDiInvolvementsForCaseSrExport">
<xs:sequence>
<xs:element name="ExportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GroupExport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
<xs:element name="ConcatLatinName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="PersonTypePpTpPoiText" type="xs:string"/>
<xs:element name="Sex" type="xs:string"/>
<xs:element name="BirthDate" nillable="true" type="xs:string"/>
<xs:element name="MaritalStatus" type="xs:string"/>
<xs:element name="Religion" type="xs:string"/>
<xs:element name="EducationLevel" type="xs:string"/>
<xs:element name="BloodGroup" type="xs:string"/>
<xs:element name="PersonTypePpTpPoiNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="CivilIdNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>
<xs:element name="InjuryType" type="xs:string"/>
<xs:element name="YearsAgeIncident" type="xs:short"/>
<xs:element name="MonthsAgeIncident" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutBirthNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutOccupation">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportInvolvementCountIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrdpDiInvolvementsForCaseSrcallResponse">
<wsdl:part element="tns:IrdpDiInvolvementsForCaseSrcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrdpDiInvolvementsForCaseSrcall">
<wsdl:part element="tns:IrdpDiInvolvementsForCaseSrcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRDP_DI_INVOLVEMENTS_FOR_CASE_SR">
<wsdl:operation name="IrdpDiInvolvementsForCaseSrcall">
<wsdl:input message="tns:IrdpDiInvolvementsForCaseSrcall" name="IrdpDiInvolvementsForCaseSrcall"> </wsdl:input>
<wsdl:output message="tns:IrdpDiInvolvementsForCaseSrcallResponse" name="IrdpDiInvolvementsForCaseSrcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRDP_DI_INVOLVEMENTS_FOR_CASE_SRSoapBinding" type="tns:IRDP_DI_INVOLVEMENTS_FOR_CASE_SR">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrdpDiInvolvementsForCaseSrcall">
<soap:operation soapAction="http://tempuri.org/IrdpDiInvolvementsForCaseSrcall/" style="document"/>
<wsdl:input name="IrdpDiInvolvementsForCaseSrcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrdpDiInvolvementsForCaseSrcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRDP_DI_INVOLVEMENTS_FOR_CASE_SR">
<wsdl:port binding="tns:IRDP_DI_INVOLVEMENTS_FOR_CASE_SRSoapBinding" name="IRDP_DI_INVOLVEMENTS_FOR_CASE_SRPort">
<soap:address location="http://10.11.78.103:9080/IRDP/IRDP_DI_INVOLVEMENTS_FOR_CASE_SR"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>