src/assets/xml/caseIRBV.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrbvLiCasesForVehicleSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBV_LI_CASES_FOR_VEHICLE_SRV" targetNamespace="http://tempuri.org/IrbvLiCasesForVehicleSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrbvLiCasesForVehicleSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrbvLiCasesForVehicleSrv/">
<xs:element name="IrbvLiCasesForVehicleSrvcall" type="tns:IrbvLiCasesForVehicleSrvcall"/>
<xs:element name="IrbvLiCasesForVehicleSrvcallResponse" type="tns:IrbvLiCasesForVehicleSrvcallResponse"/>
<xs:complexType name="IrbvLiCasesForVehicleSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrbvLiCasesForVehicleSrvImport" type="tns:IrbvLiCasesForVehicleSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbvLiCasesForVehicleSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCaseType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPlatePurposeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehicleStaticInformation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Identifier" type="xs:string"/>
<xs:element minOccurs="0" name="VehicleIdentificationNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPlate">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="GovernorateCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehiclePlate">
<xs:complexType>
<xs:sequence>
<xs:element name="Type" type="xs:short"/>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element name="DiplomaticNationalityCode" type="xs:short"/>
<xs:element minOccurs="0" name="Identifier" type="xs:string"/>
<xs:element name="NewPlateCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrbvLiCasesForVehicleSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrbvLiCasesForVehicleSrvExport" type="tns:IrbvLiCasesForVehicleSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbvLiCasesForVehicleSrvExport">
<xs:sequence>
<xs:element name="ExportPlatePurposeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehicleStaticInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="VehicleIdentificationNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPlate">
<xs:complexType>
<xs:sequence>
<xs:element name="GovernorateCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehiclePlate">
<xs:complexType>
<xs:sequence>
<xs:element name="Type" type="xs:short"/>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element name="DiplomaticNationalityCode" type="xs:short"/>
<xs:element name="Identifier" type="xs:string"/>
<xs:element name="NewPlateCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrbvLiCasesForVehicleSrvcallResponse">
<wsdl:part element="tns:IrbvLiCasesForVehicleSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbvLiCasesForVehicleSrvcall">
<wsdl:part element="tns:IrbvLiCasesForVehicleSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBV_LI_CASES_FOR_VEHICLE_SRV">
<wsdl:operation name="IrbvLiCasesForVehicleSrvcall">
<wsdl:input message="tns:IrbvLiCasesForVehicleSrvcall" name="IrbvLiCasesForVehicleSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrbvLiCasesForVehicleSrvcallResponse" name="IrbvLiCasesForVehicleSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBV_LI_CASES_FOR_VEHICLE_SRVSoapBinding" type="tns:IRBV_LI_CASES_FOR_VEHICLE_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrbvLiCasesForVehicleSrvcall">
<soap:operation soapAction="http://tempuri.org/IrbvLiCasesForVehicleSrvcall/" style="document"/>
<wsdl:input name="IrbvLiCasesForVehicleSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrbvLiCasesForVehicleSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBV_LI_CASES_FOR_VEHICLE_SRV">
<wsdl:port binding="tns:IRBV_LI_CASES_FOR_VEHICLE_SRVSoapBinding" name="IRBV_LI_CASES_FOR_VEHICLE_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRBV/IRBV_LI_CASES_FOR_VEHICLE_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>