src/assets/xml/caseIRFT.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrftLiByJailPlaceSuspendSr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRFT_LI_BY_JAIL_PLACE_SUSPEND_SR" targetNamespace="http://tempuri.org/IrftLiByJailPlaceSuspendSr/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrftLiByJailPlaceSuspendSr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrftLiByJailPlaceSuspendSr/">
<xs:element name="IrftLiByJailPlaceSuspendSrcall" type="tns:IrftLiByJailPlaceSuspendSrcall"/>
<xs:element name="IrftLiByJailPlaceSuspendSrcallResponse" type="tns:IrftLiByJailPlaceSuspendSrcallResponse"/>
<xs:complexType name="IrftLiByJailPlaceSuspendSrcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrftLiByJailPlaceSuspendSrImport" type="tns:IrftLiByJailPlaceSuspendSrImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrftLiByJailPlaceSuspendSrImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportTotalIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrTextHeader">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Text3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
<xs:element minOccurs="0" name="ConcatLatinName" type="xs:string"/>
<xs:element minOccurs="0" name="PersonTypePpTpPoiText" type="xs:string"/>
<xs:element minOccurs="0" name="PersonTypePpTpPoiNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
<xs:element name="Count" type="xs:int"/>
<xs:element minOccurs="0" name="Text27" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNationality">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportUnidentifiedPerson">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="IdentifierNo" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
<xs:element minOccurs="0" name="CivilIdNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InList">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InUnidentifiedPerson">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="IdentifierNo" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InChoiceIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
<xs:element minOccurs="0" name="ConcatLatinName" type="xs:string"/>
<xs:element minOccurs="0" name="PersonTypePpTpPoiText" type="xs:string"/>
<xs:element minOccurs="0" name="PersonTypePpTpPoiNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Text1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InJailPlacePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSearchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrftLiByJailPlaceSuspendSrcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrftLiByJailPlaceSuspendSrExport" type="tns:IrftLiByJailPlaceSuspendSrExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrftLiByJailPlaceSuspendSrExport">
<xs:sequence>
<xs:element name="ExportSearchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutList">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutUnidentifiedPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="IdentifierNo" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutChoiceIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
<xs:element name="ConcatLatinName" type="xs:string"/>
<xs:element name="PersonTypePpTpPoiText" type="xs:string"/>
<xs:element name="PersonTypePpTpPoiNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Text1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutJailPlacePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportTotalIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrTextHeader">
<xs:complexType>
<xs:sequence>
<xs:element name="Text3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
<xs:element name="ConcatLatinName" type="xs:string"/>
<xs:element name="PersonTypePpTpPoiText" type="xs:string"/>
<xs:element name="PersonTypePpTpPoiNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
<xs:element name="Count" type="xs:int"/>
<xs:element name="Text27" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportUnidentifiedPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="IdentifierNo" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
<xs:element name="CivilIdNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrftLiByJailPlaceSuspendSrcall">
<wsdl:part element="tns:IrftLiByJailPlaceSuspendSrcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrftLiByJailPlaceSuspendSrcallResponse">
<wsdl:part element="tns:IrftLiByJailPlaceSuspendSrcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRFT_LI_BY_JAIL_PLACE_SUSPEND_SR">
<wsdl:operation name="IrftLiByJailPlaceSuspendSrcall">
<wsdl:input message="tns:IrftLiByJailPlaceSuspendSrcall" name="IrftLiByJailPlaceSuspendSrcall"> </wsdl:input>
<wsdl:output message="tns:IrftLiByJailPlaceSuspendSrcallResponse" name="IrftLiByJailPlaceSuspendSrcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRFT_LI_BY_JAIL_PLACE_SUSPEND_SRSoapBinding" type="tns:IRFT_LI_BY_JAIL_PLACE_SUSPEND_SR">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrftLiByJailPlaceSuspendSrcall">
<soap:operation soapAction="http://tempuri.org/IrftLiByJailPlaceSuspendSrcall/" style="document"/>
<wsdl:input name="IrftLiByJailPlaceSuspendSrcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrftLiByJailPlaceSuspendSrcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRFT_LI_BY_JAIL_PLACE_SUSPEND_SR">
<wsdl:port binding="tns:IRFT_LI_BY_JAIL_PLACE_SUSPEND_SRSoapBinding" name="IRFT_LI_BY_JAIL_PLACE_SUSPEND_SRPort">
<soap:address location="http://10.11.78.103:9080/IRFT/IRFT_LI_BY_JAIL_PLACE_SUSPEND_SR"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>