src/assets/xml/caseIRIR_UP.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrirUpArchMicrofilmDetailsS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRIR_UP_ARCH_MICROFILM_DETAILS_S" targetNamespace="http://tempuri.org/IrirUpArchMicrofilmDetailsS/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrirUpArchMicrofilmDetailsS/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrirUpArchMicrofilmDetailsS/">
<xs:element name="IrirUpArchMicrofilmDetailsScall" type="tns:IrirUpArchMicrofilmDetailsScall"/>
<xs:element name="IrirUpArchMicrofilmDetailsScallResponse" type="tns:IrirUpArchMicrofilmDetailsScallResponse"/>
<xs:complexType name="IrirUpArchMicrofilmDetailsScall">
<xs:sequence>
<xs:element minOccurs="0" name="IrirUpArchMicrofilmDetailsSImport" type="tns:IrirUpArchMicrofilmDetailsSImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrirUpArchMicrofilmDetailsSImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportNewMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOldMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNewArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOldArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNewArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOldArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrirUpArchMicrofilmDetailsScallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrirUpArchMicrofilmDetailsSExport" type="tns:IrirUpArchMicrofilmDetailsSExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrirUpArchMicrofilmDetailsSExport">
<xs:sequence>
<xs:element name="ExportNewMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOldMicrofilmData">
<xs:complexType>
<xs:sequence>
<xs:element name="FilmNumber" type="xs:int"/>
<xs:element name="Location" type="xs:int"/>
<xs:element name="NumberOfDocument" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNewArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOldArchPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNewArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOldArchiveData">
<xs:complexType>
<xs:sequence>
<xs:element name="Section" type="xs:int"/>
<xs:element name="Cupboard" type="xs:int"/>
<xs:element name="Carton" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrirUpArchMicrofilmDetailsScall">
<wsdl:part element="tns:IrirUpArchMicrofilmDetailsScall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrirUpArchMicrofilmDetailsScallResponse">
<wsdl:part element="tns:IrirUpArchMicrofilmDetailsScallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRIR_UP_ARCH_MICROFILM_DETAILS_S">
<wsdl:operation name="IrirUpArchMicrofilmDetailsScall">
<wsdl:input message="tns:IrirUpArchMicrofilmDetailsScall" name="IrirUpArchMicrofilmDetailsScall"> </wsdl:input>
<wsdl:output message="tns:IrirUpArchMicrofilmDetailsScallResponse" name="IrirUpArchMicrofilmDetailsScallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRIR_UP_ARCH_MICROFILM_DETAILS_SSoapBinding" type="tns:IRIR_UP_ARCH_MICROFILM_DETAILS_S">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrirUpArchMicrofilmDetailsScall">
<soap:operation soapAction="http://tempuri.org/IrirUpArchMicrofilmDetailsScall/" style="document"/>
<wsdl:input name="IrirUpArchMicrofilmDetailsScall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrirUpArchMicrofilmDetailsScallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRIR_UP_ARCH_MICROFILM_DETAILS_S">
<wsdl:port binding="tns:IRIR_UP_ARCH_MICROFILM_DETAILS_SSoapBinding" name="IRIR_UP_ARCH_MICROFILM_DETAILS_SPort">
<soap:address location="http://10.11.78.103:9080/IRIR/IRIR_UP_ARCH_MICROFILM_DETAILS_S"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>