src/assets/xml/caseIRBL.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrblDiMoneyGuaranteeForCSr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBL_DI_MONEY_GUARANTEE_FOR_C_SR" targetNamespace="http://tempuri.org/IrblDiMoneyGuaranteeForCSr/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrblDiMoneyGuaranteeForCSr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrblDiMoneyGuaranteeForCSr/">
<xs:element name="IrblDiMoneyGuaranteeForCSrcall" type="tns:IrblDiMoneyGuaranteeForCSrcall"/>
<xs:element name="IrblDiMoneyGuaranteeForCSrcallResponse" type="tns:IrblDiMoneyGuaranteeForCSrcallResponse"/>
<xs:complexType name="IrblDiMoneyGuaranteeForCSrcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrblDiMoneyGuaranteeForCSrImport" type="tns:IrblDiMoneyGuaranteeForCSrImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrblDiMoneyGuaranteeForCSrImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Flag" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrMoneyWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Numeric5" type="xs:int"/>
<xs:element name="Numeric3" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIncMoneyGuarantee">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DatePaidBack" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Amount" type="xs:string"/>
<xs:element minOccurs="0" name="DatePaid" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ReceiptCode" type="xs:string"/>
<xs:element name="ReceiptNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNationality">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrblDiMoneyGuaranteeForCSrcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrblDiMoneyGuaranteeForCSrExport" type="tns:IrblDiMoneyGuaranteeForCSrExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrblDiMoneyGuaranteeForCSrExport">
<xs:sequence>
<xs:element name="ExportCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMoneyGuaranteeIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Flag" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrMoneyWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Numeric5" type="xs:int"/>
<xs:element name="Numeric3" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIncMoneyGuarantee">
<xs:complexType>
<xs:sequence>
<xs:element name="DatePaidBack" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
<xs:element name="Amount" type="xs:string"/>
<xs:element name="DatePaid" nillable="true" type="xs:string"/>
<xs:element name="ReceiptCode" type="xs:string"/>
<xs:element name="ReceiptNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrblDiMoneyGuaranteeForCSrcallResponse">
<wsdl:part element="tns:IrblDiMoneyGuaranteeForCSrcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrblDiMoneyGuaranteeForCSrcall">
<wsdl:part element="tns:IrblDiMoneyGuaranteeForCSrcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBL_DI_MONEY_GUARANTEE_FOR_C_SR">
<wsdl:operation name="IrblDiMoneyGuaranteeForCSrcall">
<wsdl:input message="tns:IrblDiMoneyGuaranteeForCSrcall" name="IrblDiMoneyGuaranteeForCSrcall"> </wsdl:input>
<wsdl:output message="tns:IrblDiMoneyGuaranteeForCSrcallResponse" name="IrblDiMoneyGuaranteeForCSrcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBL_DI_MONEY_GUARANTEE_FOR_C_SRSoapBinding" type="tns:IRBL_DI_MONEY_GUARANTEE_FOR_C_SR">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrblDiMoneyGuaranteeForCSrcall">
<soap:operation soapAction="http://tempuri.org/IrblDiMoneyGuaranteeForCSrcall/" style="document"/>
<wsdl:input name="IrblDiMoneyGuaranteeForCSrcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrblDiMoneyGuaranteeForCSrcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBL_DI_MONEY_GUARANTEE_FOR_C_SR">
<wsdl:port binding="tns:IRBL_DI_MONEY_GUARANTEE_FOR_C_SRSoapBinding" name="IRBL_DI_MONEY_GUARANTEE_FOR_C_SRPort">
<soap:address location="http://10.11.78.103:9080/IRBL/IRBL_DI_MONEY_GUARANTEE_FOR_C_SR"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>