src/assets/xml/caseIRAA.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IraaMainMenuSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRAA_MAIN_MENU_SRV" targetNamespace="http://tempuri.org/IraaMainMenuSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IraaMainMenuSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IraaMainMenuSrv/">
<xs:element name="IraaMainMenuSrvcall" type="tns:IraaMainMenuSrvcall"/>
<xs:element name="IraaMainMenuSrvcallResponse" type="tns:IraaMainMenuSrvcallResponse"/>
<xs:complexType name="IraaMainMenuSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IraaMainMenuSrvImport" type="tns:IraaMainMenuSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IraaMainMenuSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IraaMainMenuSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IraaMainMenuSrvExport" type="tns:IraaMainMenuSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IraaMainMenuSrvExport">
<xs:sequence>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element name="Option" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IraaMainMenuSrvcall">
<wsdl:part element="tns:IraaMainMenuSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IraaMainMenuSrvcallResponse">
<wsdl:part element="tns:IraaMainMenuSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRAA_MAIN_MENU_SRV">
<wsdl:operation name="IraaMainMenuSrvcall">
<wsdl:input message="tns:IraaMainMenuSrvcall" name="IraaMainMenuSrvcall"> </wsdl:input>
<wsdl:output message="tns:IraaMainMenuSrvcallResponse" name="IraaMainMenuSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRAA_MAIN_MENU_SRVSoapBinding" type="tns:IRAA_MAIN_MENU_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IraaMainMenuSrvcall">
<soap:operation soapAction="http://tempuri.org/IraaMainMenuSrvcall/" style="document"/>
<wsdl:input name="IraaMainMenuSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IraaMainMenuSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRAA_MAIN_MENU_SRV">
<wsdl:port binding="tns:IRAA_MAIN_MENU_SRVSoapBinding" name="IRAA_MAIN_MENU_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRAA/IRAA_MAIN_MENU_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>