src/assets/xml/caseIROI.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IroiLiClJeIrCasePerSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IROI_LI_CL_JE_IR_CASE_PER_SRV" targetNamespace="http://tempuri.org/IroiLiClJeIrCasePerSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IroiLiClJeIrCasePerSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IroiLiClJeIrCasePerSrv/">
<xs:element name="IroiLiClJeIrCasePerSrvcall" type="tns:IroiLiClJeIrCasePerSrvcall"/>
<xs:element name="IroiLiClJeIrCasePerSrvcallResponse" type="tns:IroiLiClJeIrCasePerSrvcallResponse"/>
<xs:complexType name="IroiLiClJeIrCasePerSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IroiLiClJeIrCasePerSrvImport" type="tns:IroiLiClJeIrCasePerSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IroiLiClJeIrCasePerSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="PersonTypePpTpPoiNumber" type="xs:long"/>
<xs:element minOccurs="0" name="PersonTypePpTpPoiText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNationality">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportDisplayPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
<xs:element minOccurs="0" name="CivilIdNumber" type="xs:long"/>
<xs:element minOccurs="0" name="Sex" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpIrCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="CaseYearIdent" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpIrCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpIrPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpJeCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="CaseYearIdent" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpJeCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpJePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportLastCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportUnidentifiedPerson">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="IdentifierNo" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IroiLiClJeIrCasePerSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IroiLiClJeIrCasePerSrvExport" type="tns:IroiLiClJeIrCasePerSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IroiLiClJeIrCasePerSrvExport">
<xs:sequence>
<xs:element name="ExportUnidentifiedPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="IdentifierNo" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportReturnIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Flag" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="CaseYearIdent" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpIrCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="CaseYearIdent" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpIrCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpIrPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpJeCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="CaseYearIdent" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpJeCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpJePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="PersonTypePpTpPoiNumber" type="xs:long"/>
<xs:element name="PersonTypePpTpPoiText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportLastCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDisplayPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
<xs:element name="CivilIdNumber" type="xs:long"/>
<xs:element name="Sex" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IroiLiClJeIrCasePerSrvcall">
<wsdl:part element="tns:IroiLiClJeIrCasePerSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IroiLiClJeIrCasePerSrvcallResponse">
<wsdl:part element="tns:IroiLiClJeIrCasePerSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IROI_LI_CL_JE_IR_CASE_PER_SRV">
<wsdl:operation name="IroiLiClJeIrCasePerSrvcall">
<wsdl:input message="tns:IroiLiClJeIrCasePerSrvcall" name="IroiLiClJeIrCasePerSrvcall"> </wsdl:input>
<wsdl:output message="tns:IroiLiClJeIrCasePerSrvcallResponse" name="IroiLiClJeIrCasePerSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IROI_LI_CL_JE_IR_CASE_PER_SRVSoapBinding" type="tns:IROI_LI_CL_JE_IR_CASE_PER_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IroiLiClJeIrCasePerSrvcall">
<soap:operation soapAction="http://tempuri.org/IroiLiClJeIrCasePerSrvcall/" style="document"/>
<wsdl:input name="IroiLiClJeIrCasePerSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IroiLiClJeIrCasePerSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IROI_LI_CL_JE_IR_CASE_PER_SRV">
<wsdl:port binding="tns:IROI_LI_CL_JE_IR_CASE_PER_SRVSoapBinding" name="IROI_LI_CL_JE_IR_CASE_PER_SRVPort">
<soap:address location="http://10.11.78.103:9080/IROI/IROI_LI_CL_JE_IR_CASE_PER_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>