src/assets/xml/caseIRBM.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrbmUpCaseBasicDetailsSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBM_UP_CASE_BASIC_DETAILS_SRV" targetNamespace="http://tempuri.org/IrbmUpCaseBasicDetailsSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrbmUpCaseBasicDetailsSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrbmUpCaseBasicDetailsSrv/">
<xs:element name="IrbmUpCaseBasicDetailsSrvcall" type="tns:IrbmUpCaseBasicDetailsSrvcall"/>
<xs:element name="IrbmUpCaseBasicDetailsSrvcallResponse" type="tns:IrbmUpCaseBasicDetailsSrvcallResponse"/>
<xs:complexType name="IrbmUpCaseBasicDetailsSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrbmUpCaseBasicDetailsSrvImport" type="tns:IrbmUpCaseBasicDetailsSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbmUpCaseBasicDetailsSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportCheckStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckLocation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DetailLine1" type="xs:string"/>
<xs:element minOccurs="0" name="DetailLine2" type="xs:string"/>
<xs:element minOccurs="0" name="DetailLine3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckInternalAddress">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="GovernorateName" type="xs:string"/>
<xs:element minOccurs="0" name="AreaName" type="xs:string"/>
<xs:element name="BlockNumber" type="xs:short"/>
<xs:element minOccurs="0" name="Street" type="xs:string"/>
<xs:element minOccurs="0" name="Lane" type="xs:string"/>
<xs:element minOccurs="0" name="BuildingType" type="xs:string"/>
<xs:element minOccurs="0" name="Building" type="xs:string"/>
<xs:element name="PlotNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:int"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckCaseAction">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Desc" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckCase">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DateHappened" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="TimeHappened" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DateNotified" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="TimeNotified" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="OfficerName" type="xs:string"/>
<xs:element minOccurs="0" name="TimeHappenedAmPm" type="xs:string"/>
<xs:element minOccurs="0" name="TimeNotifiedAmPm" type="xs:string"/>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
<xs:element minOccurs="0" name="OfficerTitle" type="xs:string"/>
<xs:element minOccurs="0" name="Worker" type="xs:string"/>
<xs:element minOccurs="0" name="ViolatedCompany" type="xs:string"/>
<xs:element minOccurs="0" name="Item1" type="xs:string"/>
<xs:element minOccurs="0" name="Item2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckApartment">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Floor" type="xs:string"/>
<xs:element name="Apartment" type="xs:short"/>
<xs:element minOccurs="0" name="Enterance" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportFlowIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
<xs:element minOccurs="0" name="ConcatLatinName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCommonWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element minOccurs="0" name="DayOfWeek" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPrevCaseAddressInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InportCaseAction">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Desc" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:int"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportApartment">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Floor" type="xs:string"/>
<xs:element name="Apartment" type="xs:short"/>
<xs:element minOccurs="0" name="Enterance" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportKuwaitAreaName">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportLocation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DetailLine1" type="xs:string"/>
<xs:element minOccurs="0" name="DetailLine2" type="xs:string"/>
<xs:element minOccurs="0" name="DetailLine3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportInternalAddress">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="GovernorateName" type="xs:string"/>
<xs:element name="BlockNumber" type="xs:short"/>
<xs:element minOccurs="0" name="Street" type="xs:string"/>
<xs:element minOccurs="0" name="Lane" type="xs:string"/>
<xs:element minOccurs="0" name="BuildingType" type="xs:string"/>
<xs:element minOccurs="0" name="Building" type="xs:string"/>
<xs:element name="PlotNumber" type="xs:int"/>
<xs:element minOccurs="0" name="AreaName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCheckScrIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Text6" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import2PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="Import1PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InOrgCaseCase">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="DateHappened" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="TimeHappened" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DateNotified" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="TimeNotified" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
<xs:element minOccurs="0" name="OfficerName" type="xs:string"/>
<xs:element minOccurs="0" name="TimeHappenedAmPm" type="xs:string"/>
<xs:element minOccurs="0" name="TimeNotifiedAmPm" type="xs:string"/>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
<xs:element minOccurs="0" name="OfficerTitle" type="xs:string"/>
<xs:element minOccurs="0" name="Worker" type="xs:string"/>
<xs:element minOccurs="0" name="ViolatedCompany" type="xs:string"/>
<xs:element minOccurs="0" name="Item1" type="xs:string"/>
<xs:element minOccurs="0" name="Item2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrbmUpCaseBasicDetailsSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrbmUpCaseBasicDetailsSrvExport" type="tns:IrbmUpCaseBasicDetailsSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbmUpCaseBasicDetailsSrvExport">
<xs:sequence>
<xs:element name="ExportHiddenListWasUsedIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Flag" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element name="DayOfWeek" type="xs:string"/>
<xs:element name="KnownSuspectFlag" type="xs:string"/>
<xs:element name="ConcatArabicName" type="xs:string"/>
<xs:element name="ConcatLatinName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCommonWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="Count" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckLocation">
<xs:complexType>
<xs:sequence>
<xs:element name="DetailLine1" type="xs:string"/>
<xs:element name="DetailLine2" type="xs:string"/>
<xs:element name="DetailLine3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckApartment">
<xs:complexType>
<xs:sequence>
<xs:element name="Floor" type="xs:string"/>
<xs:element name="Apartment" type="xs:short"/>
<xs:element name="Enterance" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckInternalAddress">
<xs:complexType>
<xs:sequence>
<xs:element name="GovernorateName" type="xs:string"/>
<xs:element name="AreaName" type="xs:string"/>
<xs:element name="BlockNumber" type="xs:short"/>
<xs:element name="Street" type="xs:string"/>
<xs:element name="Lane" type="xs:string"/>
<xs:element name="BuildingType" type="xs:string"/>
<xs:element name="Building" type="xs:string"/>
<xs:element name="PlotNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckCaseAction">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Desc" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:int"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckCase">
<xs:complexType>
<xs:sequence>
<xs:element name="DateHappened" nillable="true" type="xs:string"/>
<xs:element name="TimeHappened" nillable="true" type="xs:string"/>
<xs:element name="DateNotified" nillable="true" type="xs:string"/>
<xs:element name="TimeNotified" nillable="true" type="xs:string"/>
<xs:element name="OfficerName" type="xs:string"/>
<xs:element name="TimeHappenedAmPm" type="xs:string"/>
<xs:element name="TimeNotifiedAmPm" type="xs:string"/>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
<xs:element name="OfficerTitle" type="xs:string"/>
<xs:element name="Worker" type="xs:string"/>
<xs:element name="ViolatedCompany" type="xs:string"/>
<xs:element name="Item1" type="xs:string"/>
<xs:element name="Item2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportApartment">
<xs:complexType>
<xs:sequence>
<xs:element name="Floor" type="xs:string"/>
<xs:element name="Apartment" type="xs:short"/>
<xs:element name="Enterance" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportInternalAddress">
<xs:complexType>
<xs:sequence>
<xs:element name="GovernorateName" type="xs:string"/>
<xs:element name="BlockNumber" type="xs:short"/>
<xs:element name="Street" type="xs:string"/>
<xs:element name="Lane" type="xs:string"/>
<xs:element name="BuildingType" type="xs:string"/>
<xs:element name="Building" type="xs:string"/>
<xs:element name="PlotNumber" type="xs:int"/>
<xs:element name="AreaName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportLocation">
<xs:complexType>
<xs:sequence>
<xs:element name="DetailLine1" type="xs:string"/>
<xs:element name="DetailLine2" type="xs:string"/>
<xs:element name="DetailLine3" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseAction">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Desc" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCrimeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:int"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPrevCaseAddressInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportFlowIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
<xs:element name="ConcatArabicName" type="xs:string"/>
<xs:element name="ConcatLatinName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCheckScrIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Text6" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export2PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="Export1PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutOrgCaseCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="DateHappened" nillable="true" type="xs:string"/>
<xs:element name="TimeHappened" nillable="true" type="xs:string"/>
<xs:element name="DateNotified" nillable="true" type="xs:string"/>
<xs:element name="TimeNotified" nillable="true" type="xs:string"/>
<xs:element name="Status" type="xs:string"/>
<xs:element name="OfficerName" type="xs:string"/>
<xs:element name="TimeHappenedAmPm" type="xs:string"/>
<xs:element name="TimeNotifiedAmPm" type="xs:string"/>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
<xs:element name="OfficerTitle" type="xs:string"/>
<xs:element name="Worker" type="xs:string"/>
<xs:element name="ViolatedCompany" type="xs:string"/>
<xs:element name="Item1" type="xs:string"/>
<xs:element name="Item2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbmUpCaseBasicDetailsSrvcallResponse">
<wsdl:part element="tns:IrbmUpCaseBasicDetailsSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbmUpCaseBasicDetailsSrvcall">
<wsdl:part element="tns:IrbmUpCaseBasicDetailsSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBM_UP_CASE_BASIC_DETAILS_SRV">
<wsdl:operation name="IrbmUpCaseBasicDetailsSrvcall">
<wsdl:input message="tns:IrbmUpCaseBasicDetailsSrvcall" name="IrbmUpCaseBasicDetailsSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrbmUpCaseBasicDetailsSrvcallResponse" name="IrbmUpCaseBasicDetailsSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBM_UP_CASE_BASIC_DETAILS_SRVSoapBinding" type="tns:IRBM_UP_CASE_BASIC_DETAILS_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrbmUpCaseBasicDetailsSrvcall">
<soap:operation soapAction="http://tempuri.org/IrbmUpCaseBasicDetailsSrvcall/" style="document"/>
<wsdl:input name="IrbmUpCaseBasicDetailsSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrbmUpCaseBasicDetailsSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBM_UP_CASE_BASIC_DETAILS_SRV">
<wsdl:port binding="tns:IRBM_UP_CASE_BASIC_DETAILS_SRVSoapBinding" name="IRBM_UP_CASE_BASIC_DETAILS_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRBM/IRBM_UP_CASE_BASIC_DETAILS_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>