src/assets/xml/caseIRTA.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrtaDeCaseVehInvolvSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRTA_DE_CASE_VEH_INVOLV_SRV" targetNamespace="http://tempuri.org/IrtaDeCaseVehInvolvSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrtaDeCaseVehInvolvSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrtaDeCaseVehInvolvSrv/">
<xs:element name="IrtaDeCaseVehInvolvSrvcall" type="tns:IrtaDeCaseVehInvolvSrvcall"/>
<xs:element name="IrtaDeCaseVehInvolvSrvcallResponse" type="tns:IrtaDeCaseVehInvolvSrvcallResponse"/>
<xs:complexType name="IrtaDeCaseVehInvolvSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrtaDeCaseVehInvolvSrvImport" type="tns:IrtaDeCaseVehInvolvSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrtaDeCaseVehInvolvSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpVehicleInvolvementHistory">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCommercialOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
<xs:element minOccurs="0" name="CommercialNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportInsurance">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="PolicyNumber" type="xs:string"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPpCoPoIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehicleType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Make" type="xs:string"/>
<xs:element minOccurs="0" name="Model" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPlatePurposeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehiclePlate">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element minOccurs="0" name="GovernorateCode" type="xs:string"/>
<xs:element name="DiplomaticNationalityCode" type="xs:short"/>
<xs:element name="Type" type="xs:short"/>
<xs:element minOccurs="0" name="Identifier" type="xs:string"/>
<xs:element name="NewPlateCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehicleStaticInformation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="VehicleIdentificationNumber" type="xs:string"/>
<xs:element minOccurs="0" name="Identifier" type="xs:string"/>
<xs:element name="YearOfManufacture" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrtaDeCaseVehInvolvSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrtaDeCaseVehInvolvSrvExport" type="tns:IrtaDeCaseVehInvolvSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrtaDeCaseVehInvolvSrvExport">
<xs:sequence>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpVehicleInvolvementHistory">
<xs:complexType>
<xs:sequence>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportInsurance">
<xs:complexType>
<xs:sequence>
<xs:element name="PolicyNumber" type="xs:string"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCommercialOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
<xs:element name="CommercialNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPpCoPoIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehicleType">
<xs:complexType>
<xs:sequence>
<xs:element name="Make" type="xs:string"/>
<xs:element name="Model" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
<xs:element name="Description" type="xs:string"/>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPlatePurposeType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehicleStaticInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="VehicleIdentificationNumber" type="xs:string"/>
<xs:element name="YearOfManufacture" type="xs:short"/>
<xs:element name="Identifier" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehiclePlate">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element name="GovernorateCode" type="xs:string"/>
<xs:element name="DiplomaticNationalityCode" type="xs:short"/>
<xs:element name="Type" type="xs:short"/>
<xs:element name="Identifier" type="xs:string"/>
<xs:element name="NewPlateCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrtaDeCaseVehInvolvSrvcall">
<wsdl:part element="tns:IrtaDeCaseVehInvolvSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrtaDeCaseVehInvolvSrvcallResponse">
<wsdl:part element="tns:IrtaDeCaseVehInvolvSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRTA_DE_CASE_VEH_INVOLV_SRV">
<wsdl:operation name="IrtaDeCaseVehInvolvSrvcall">
<wsdl:input message="tns:IrtaDeCaseVehInvolvSrvcall" name="IrtaDeCaseVehInvolvSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrtaDeCaseVehInvolvSrvcallResponse" name="IrtaDeCaseVehInvolvSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRTA_DE_CASE_VEH_INVOLV_SRVSoapBinding" type="tns:IRTA_DE_CASE_VEH_INVOLV_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrtaDeCaseVehInvolvSrvcall">
<soap:operation soapAction="http://tempuri.org/IrtaDeCaseVehInvolvSrvcall/" style="document"/>
<wsdl:input name="IrtaDeCaseVehInvolvSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrtaDeCaseVehInvolvSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRTA_DE_CASE_VEH_INVOLV_SRV">
<wsdl:port binding="tns:IRTA_DE_CASE_VEH_INVOLV_SRVSoapBinding" name="IRTA_DE_CASE_VEH_INVOLV_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRTA/IRTA_DE_CASE_VEH_INVOLV_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>