src/assets/xml/casetype.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrleLiCaseTypeSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRLE_LI_CASE_TYPE_SRV" targetNamespace="http://tempuri.org/IrleLiCaseTypeSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrleLiCaseTypeSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrleLiCaseTypeSrv/">
<xs:element name="IrleLiCaseTypeSrvcall" type="tns:IrleLiCaseTypeSrvcall"/>
<xs:element name="IrleLiCaseTypeSrvcallResponse" type="tns:IrleLiCaseTypeSrvcallResponse"/>
<xs:complexType name="IrleLiCaseTypeSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrleLiCaseTypeSrvImport" type="tns:IrleLiCaseTypeSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrleLiCaseTypeSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportWhoseCaseType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="GroupImport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrleLiCaseTypeSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrleLiCaseTypeSrvExport" type="tns:IrleLiCaseTypeSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrleLiCaseTypeSrvExport">
<xs:sequence>
<xs:element name="ExportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GroupExport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrleLiCaseTypeSrvcallResponse">
<wsdl:part element="tns:IrleLiCaseTypeSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrleLiCaseTypeSrvcall">
<wsdl:part element="tns:IrleLiCaseTypeSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRLE_LI_CASE_TYPE_SRV">
<wsdl:operation name="IrleLiCaseTypeSrvcall">
<wsdl:input message="tns:IrleLiCaseTypeSrvcall" name="IrleLiCaseTypeSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrleLiCaseTypeSrvcallResponse" name="IrleLiCaseTypeSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRLE_LI_CASE_TYPE_SRVSoapBinding" type="tns:IRLE_LI_CASE_TYPE_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrleLiCaseTypeSrvcall">
<soap:operation soapAction="http://tempuri.org/IrleLiCaseTypeSrvcall/" style="document"/>
<wsdl:input name="IrleLiCaseTypeSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrleLiCaseTypeSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRLE_LI_CASE_TYPE_SRV">
<wsdl:port binding="tns:IRLE_LI_CASE_TYPE_SRVSoapBinding" name="IRLE_LI_CASE_TYPE_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRLE/IRLE_LI_CASE_TYPE_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>