src/assets/xml/caseIRML.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrmlMenuCasesForVehiclesSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRML_MENU_CASES_FOR_VEHICLES_SRV" targetNamespace="http://tempuri.org/IrmlMenuCasesForVehiclesSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrmlMenuCasesForVehiclesSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrmlMenuCasesForVehiclesSrv/">
<xs:element name="IrmlMenuCasesForVehiclesSrvcall" type="tns:IrmlMenuCasesForVehiclesSrvcall"/>
<xs:element name="IrmlMenuCasesForVehiclesSrvcallResponse" type="tns:IrmlMenuCasesForVehiclesSrvcallResponse"/>
<xs:complexType name="IrmlMenuCasesForVehiclesSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrmlMenuCasesForVehiclesSrvImport" type="tns:IrmlMenuCasesForVehiclesSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmlMenuCasesForVehiclesSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element name="Option" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="DateHappened" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrmlMenuCasesForVehiclesSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrmlMenuCasesForVehiclesSrvExport" type="tns:IrmlMenuCasesForVehiclesSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmlMenuCasesForVehiclesSrvExport">
<xs:sequence>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
<xs:element name="Option" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="DateHappened" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrmlMenuCasesForVehiclesSrvcallResponse">
<wsdl:part element="tns:IrmlMenuCasesForVehiclesSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrmlMenuCasesForVehiclesSrvcall">
<wsdl:part element="tns:IrmlMenuCasesForVehiclesSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRML_MENU_CASES_FOR_VEHICLES_SRV">
<wsdl:operation name="IrmlMenuCasesForVehiclesSrvcall">
<wsdl:input message="tns:IrmlMenuCasesForVehiclesSrvcall" name="IrmlMenuCasesForVehiclesSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrmlMenuCasesForVehiclesSrvcallResponse" name="IrmlMenuCasesForVehiclesSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRML_MENU_CASES_FOR_VEHICLES_SRVSoapBinding" type="tns:IRML_MENU_CASES_FOR_VEHICLES_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrmlMenuCasesForVehiclesSrvcall">
<soap:operation soapAction="http://tempuri.org/IrmlMenuCasesForVehiclesSrvcall/" style="document"/>
<wsdl:input name="IrmlMenuCasesForVehiclesSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrmlMenuCasesForVehiclesSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRML_MENU_CASES_FOR_VEHICLES_SRV">
<wsdl:port binding="tns:IRML_MENU_CASES_FOR_VEHICLES_SRVSoapBinding" name="IRML_MENU_CASES_FOR_VEHICLES_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRML/IRML_MENU_CASES_FOR_VEHICLES_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>