src/assets/xml/caseIRTB_TEXT.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrtbDiCaseVehInvolTextSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRTB_DI_CASE_VEH_INVOL_TEXT_SRV" targetNamespace="http://tempuri.org/IrtbDiCaseVehInvolTextSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrtbDiCaseVehInvolTextSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrtbDiCaseVehInvolTextSrv/">
<xs:element name="IrtbDiCaseVehInvolTextSrvcall" type="tns:IrtbDiCaseVehInvolTextSrvcall"/>
<xs:element name="IrtbDiCaseVehInvolTextSrvcallResponse" type="tns:IrtbDiCaseVehInvolTextSrvcallResponse"/>
<xs:complexType name="IrtbDiCaseVehInvolTextSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrtbDiCaseVehInvolTextSrvImport" type="tns:IrtbDiCaseVehInvolTextSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrtbDiCaseVehInvolTextSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehicleStaticInformation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="VehicleIdentificationNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehiclePlate">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element minOccurs="0" name="GovernorateCode" type="xs:string"/>
<xs:element name="DiplomaticNationalityCode" type="xs:short"/>
<xs:element name="Type" type="xs:short"/>
<xs:element name="NewPlateCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPlatePurposeType">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element name="Code" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrtbDiCaseVehInvolTextSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrtbDiCaseVehInvolTextSrvExport" type="tns:IrtbDiCaseVehInvolTextSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrtbDiCaseVehInvolTextSrvExport">
<xs:sequence>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpCaseVehicleDetails">
<xs:complexType>
<xs:sequence>
<xs:element name="LineNumber" type="xs:short"/>
<xs:element name="DetailLine" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrtbDiCaseVehInvolTextSrvcall">
<wsdl:part element="tns:IrtbDiCaseVehInvolTextSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrtbDiCaseVehInvolTextSrvcallResponse">
<wsdl:part element="tns:IrtbDiCaseVehInvolTextSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRTB_DI_CASE_VEH_INVOL_TEXT_SRV">
<wsdl:operation name="IrtbDiCaseVehInvolTextSrvcall">
<wsdl:input message="tns:IrtbDiCaseVehInvolTextSrvcall" name="IrtbDiCaseVehInvolTextSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrtbDiCaseVehInvolTextSrvcallResponse" name="IrtbDiCaseVehInvolTextSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRTB_DI_CASE_VEH_INVOL_TEXT_SRVSoapBinding" type="tns:IRTB_DI_CASE_VEH_INVOL_TEXT_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrtbDiCaseVehInvolTextSrvcall">
<soap:operation soapAction="http://tempuri.org/IrtbDiCaseVehInvolTextSrvcall/" style="document"/>
<wsdl:input name="IrtbDiCaseVehInvolTextSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrtbDiCaseVehInvolTextSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRTB_DI_CASE_VEH_INVOL_TEXT_SRV">
<wsdl:port binding="tns:IRTB_DI_CASE_VEH_INVOL_TEXT_SRVSoapBinding" name="IRTB_DI_CASE_VEH_INVOL_TEXT_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRTB/IRTB_DI_CASE_VEH_INVOL_TEXT_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>