src/assets/xml/caseIRDC.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrdcLsCaseMovedOrganizatSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRDC_LS_CASE_MOVED_ORGANIZAT_SRV" targetNamespace="http://tempuri.org/IrdcLsCaseMovedOrganizatSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrdcLsCaseMovedOrganizatSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrdcLsCaseMovedOrganizatSrv/">
<xs:element name="IrdcLsCaseMovedOrganizatSrvcall" type="tns:IrdcLsCaseMovedOrganizatSrvcall"/>
<xs:element name="IrdcLsCaseMovedOrganizatSrvcallResponse" type="tns:IrdcLsCaseMovedOrganizatSrvcallResponse"/>
<xs:complexType name="IrdcLsCaseMovedOrganizatSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrdcLsCaseMovedOrganizatSrvImport" type="tns:IrdcLsCaseMovedOrganizatSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdcLsCaseMovedOrganizatSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportSelectedCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Subscript" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InList">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseMovement">
<xs:complexType>
<xs:sequence>
<xs:element name="ReferenceType" type="xs:short"/>
<xs:element minOccurs="0" name="ReferenceNo" type="xs:string"/>
<xs:element minOccurs="0" name="DateReceived" nillable="true" type="xs:string"/>
<xs:element name="SequenceNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrdcLsCaseMovedOrganizatSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrdcLsCaseMovedOrganizatSrvExport" type="tns:IrdcLsCaseMovedOrganizatSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdcLsCaseMovedOrganizatSrvExport">
<xs:sequence>
<xs:element name="ExportCaseMovement">
<xs:complexType>
<xs:sequence>
<xs:element name="ReferenceType" type="xs:short"/>
<xs:element name="ReferenceNo" type="xs:string"/>
<xs:element name="DateReceived" nillable="true" type="xs:string"/>
<xs:element name="SequenceNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutList">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Subscript" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrdcLsCaseMovedOrganizatSrvcallResponse">
<wsdl:part element="tns:IrdcLsCaseMovedOrganizatSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrdcLsCaseMovedOrganizatSrvcall">
<wsdl:part element="tns:IrdcLsCaseMovedOrganizatSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRDC_LS_CASE_MOVED_ORGANIZAT_SRV">
<wsdl:operation name="IrdcLsCaseMovedOrganizatSrvcall">
<wsdl:input message="tns:IrdcLsCaseMovedOrganizatSrvcall" name="IrdcLsCaseMovedOrganizatSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrdcLsCaseMovedOrganizatSrvcallResponse" name="IrdcLsCaseMovedOrganizatSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRDC_LS_CASE_MOVED_ORGANIZAT_SRVSoapBinding" type="tns:IRDC_LS_CASE_MOVED_ORGANIZAT_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrdcLsCaseMovedOrganizatSrvcall">
<soap:operation soapAction="http://tempuri.org/IrdcLsCaseMovedOrganizatSrvcall/" style="document"/>
<wsdl:input name="IrdcLsCaseMovedOrganizatSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrdcLsCaseMovedOrganizatSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRDC_LS_CASE_MOVED_ORGANIZAT_SRV">
<wsdl:port binding="tns:IRDC_LS_CASE_MOVED_ORGANIZAT_SRVSoapBinding" name="IRDC_LS_CASE_MOVED_ORGANIZAT_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRDC/IRDC_LS_CASE_MOVED_ORGANIZAT_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>