src/assets/xml/caseIRBG_CR.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrbgCrPersonInvolvementSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBG_CR_PERSON_INVOLVEMENT_SRV" targetNamespace="http://tempuri.org/IrbgCrPersonInvolvementSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrbgCrPersonInvolvementSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrbgCrPersonInvolvementSrv/">
<xs:element name="IrbgCrPersonInvolvementSrvcall" type="tns:IrbgCrPersonInvolvementSrvcall"/>
<xs:element name="IrbgCrPersonInvolvementSrvcallResponse" type="tns:IrbgCrPersonInvolvementSrvcallResponse"/>
<xs:complexType name="IrbgCrPersonInvolvementSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrbgCrPersonInvolvementSrvImport" type="tns:IrbgCrPersonInvolvementSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbgCrPersonInvolvementSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportArabicNameNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ArabicFirstName" type="xs:string"/>
<xs:element minOccurs="0" name="ArabicSecondName" type="xs:string"/>
<xs:element minOccurs="0" name="ArabicThirdName" type="xs:string"/>
<xs:element minOccurs="0" name="ArabicFourthName" type="xs:string"/>
<xs:element minOccurs="0" name="ArabicFamilyName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPassport">
<xs:complexType>
<xs:sequence>
<xs:element name="SerialNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOldKuwaitiDrivingLicense">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InjuryType" type="xs:string"/>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportAlienPassport">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="PassportNo" type="xs:string"/>
<xs:element minOccurs="0" name="IssuePlace" type="xs:string"/>
<xs:element minOccurs="0" name="PassportType" type="xs:string"/>
<xs:element minOccurs="0" name="PassportNationality" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
<xs:element minOccurs="0" name="CivilIdNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="Status" type="xs:string"/>
<xs:element minOccurs="0" name="DateHappened" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrbgCrPersonInvolvementSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrbgCrPersonInvolvementSrvExport" type="tns:IrbgCrPersonInvolvementSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbgCrPersonInvolvementSrvExport">
<xs:sequence>
<xs:element name="ExportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportArabicNameNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="ArabicFirstName" type="xs:string"/>
<xs:element name="ArabicSecondName" type="xs:string"/>
<xs:element name="ArabicThirdName" type="xs:string"/>
<xs:element name="ArabicFourthName" type="xs:string"/>
<xs:element name="ArabicFamilyName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPersonInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPassport">
<xs:complexType>
<xs:sequence>
<xs:element name="SerialNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOldKuwaitiDrivingLicense">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportNationality">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="ArabicDescription" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCasePersonInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="InjuryType" type="xs:string"/>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportAlienPassport">
<xs:complexType>
<xs:sequence>
<xs:element name="PassportNo" type="xs:string"/>
<xs:element name="IssuePlace" type="xs:string"/>
<xs:element name="PassportType" type="xs:string"/>
<xs:element name="PassportNationality" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPersonOfInterest">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportTemporaryPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPermanentPerson">
<xs:complexType>
<xs:sequence>
<xs:element name="NationalNumber" type="xs:int"/>
<xs:element name="CivilIdNumber" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Option" type="xs:short"/>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="Status" type="xs:string"/>
<xs:element name="DateHappened" nillable="true" type="xs:string"/>
<xs:element name="CriminalKnownUnknown" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrbgCrPersonInvolvementSrvcall">
<wsdl:part element="tns:IrbgCrPersonInvolvementSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbgCrPersonInvolvementSrvcallResponse">
<wsdl:part element="tns:IrbgCrPersonInvolvementSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBG_CR_PERSON_INVOLVEMENT_SRV">
<wsdl:operation name="IrbgCrPersonInvolvementSrvcall">
<wsdl:input message="tns:IrbgCrPersonInvolvementSrvcall" name="IrbgCrPersonInvolvementSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrbgCrPersonInvolvementSrvcallResponse" name="IrbgCrPersonInvolvementSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBG_CR_PERSON_INVOLVEMENT_SRVSoapBinding" type="tns:IRBG_CR_PERSON_INVOLVEMENT_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrbgCrPersonInvolvementSrvcall">
<soap:operation soapAction="http://tempuri.org/IrbgCrPersonInvolvementSrvcall/" style="document"/>
<wsdl:input name="IrbgCrPersonInvolvementSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrbgCrPersonInvolvementSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBG_CR_PERSON_INVOLVEMENT_SRV">
<wsdl:port binding="tns:IRBG_CR_PERSON_INVOLVEMENT_SRVSoapBinding" name="IRBG_CR_PERSON_INVOLVEMENT_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRBG/IRBG_CR_PERSON_INVOLVEMENT_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>