src/assets/xml/caseIRAM.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IramLiAllAuthByCdmSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRAM_LI_ALL_AUTH_BY_CDM_SRV" targetNamespace="http://tempuri.org/IramLiAllAuthByCdmSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IramLiAllAuthByCdmSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IramLiAllAuthByCdmSrv/">
<xs:element name="IramLiAllAuthByCdmSrvcall" type="tns:IramLiAllAuthByCdmSrvcall"/>
<xs:element name="IramLiAllAuthByCdmSrvcallResponse" type="tns:IramLiAllAuthByCdmSrvcallResponse"/>
<xs:complexType name="IramLiAllAuthByCdmSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IramLiAllAuthByCdmSrvImport" type="tns:IramLiAllAuthByCdmSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IramLiAllAuthByCdmSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportSelectedIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedOptionDateIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedOptionTypeIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedCaseMovementPersonDetail">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="PubOrgNo" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImpGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImpGpStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImpGpIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOptionTypeIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportJobClassification">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOptionDateIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IramLiAllAuthByCdmSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IramLiAllAuthByCdmSrvExport" type="tns:IramLiAllAuthByCdmSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IramLiAllAuthByCdmSrvExport">
<xs:sequence>
<xs:element name="ExportGp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExpGpStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExpGpIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExpGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOptionTypeIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportJobClassification">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOptionDateIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedOptionDateIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedOptionTypeIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedCaseMovementPersonDetail">
<xs:complexType>
<xs:sequence>
<xs:element name="PubOrgNo" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element name="AuthCode" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IramLiAllAuthByCdmSrvcallResponse">
<wsdl:part element="tns:IramLiAllAuthByCdmSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IramLiAllAuthByCdmSrvcall">
<wsdl:part element="tns:IramLiAllAuthByCdmSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRAM_LI_ALL_AUTH_BY_CDM_SRV">
<wsdl:operation name="IramLiAllAuthByCdmSrvcall">
<wsdl:input message="tns:IramLiAllAuthByCdmSrvcall" name="IramLiAllAuthByCdmSrvcall"> </wsdl:input>
<wsdl:output message="tns:IramLiAllAuthByCdmSrvcallResponse" name="IramLiAllAuthByCdmSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRAM_LI_ALL_AUTH_BY_CDM_SRVSoapBinding" type="tns:IRAM_LI_ALL_AUTH_BY_CDM_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IramLiAllAuthByCdmSrvcall">
<soap:operation soapAction="http://tempuri.org/IramLiAllAuthByCdmSrvcall/" style="document"/>
<wsdl:input name="IramLiAllAuthByCdmSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IramLiAllAuthByCdmSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRAM_LI_ALL_AUTH_BY_CDM_SRV">
<wsdl:port binding="tns:IRAM_LI_ALL_AUTH_BY_CDM_SRVSoapBinding" name="IRAM_LI_ALL_AUTH_BY_CDM_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRAM/IRAM_LI_ALL_AUTH_BY_CDM_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>