src/assets/xml/caseIRDH.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrdhLiVehicleInvolvTypeSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRDH_LI_VEHICLE_INVOLV_TYPE_SRV" targetNamespace="http://tempuri.org/IrdhLiVehicleInvolvTypeSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrdhLiVehicleInvolvTypeSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrdhLiVehicleInvolvTypeSrv/">
<xs:element name="IrdhLiVehicleInvolvTypeSrvcall" type="tns:IrdhLiVehicleInvolvTypeSrvcall"/>
<xs:element name="IrdhLiVehicleInvolvTypeSrvcallResponse" type="tns:IrdhLiVehicleInvolvTypeSrvcallResponse"/>
<xs:complexType name="IrdhLiVehicleInvolvTypeSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrdhLiVehicleInvolvTypeSrvImport" type="tns:IrdhLiVehicleInvolvTypeSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdhLiVehicleInvolvTypeSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="GroupImport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrdhLiVehicleInvolvTypeSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrdhLiVehicleInvolvTypeSrvExport" type="tns:IrdhLiVehicleInvolvTypeSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdhLiVehicleInvolvTypeSrvExport">
<xs:sequence>
<xs:element name="ExportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GroupExport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrdhLiVehicleInvolvTypeSrvcallResponse">
<wsdl:part element="tns:IrdhLiVehicleInvolvTypeSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrdhLiVehicleInvolvTypeSrvcall">
<wsdl:part element="tns:IrdhLiVehicleInvolvTypeSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRDH_LI_VEHICLE_INVOLV_TYPE_SRV">
<wsdl:operation name="IrdhLiVehicleInvolvTypeSrvcall">
<wsdl:input message="tns:IrdhLiVehicleInvolvTypeSrvcall" name="IrdhLiVehicleInvolvTypeSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrdhLiVehicleInvolvTypeSrvcallResponse" name="IrdhLiVehicleInvolvTypeSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRDH_LI_VEHICLE_INVOLV_TYPE_SRVSoapBinding" type="tns:IRDH_LI_VEHICLE_INVOLV_TYPE_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrdhLiVehicleInvolvTypeSrvcall">
<soap:operation soapAction="http://tempuri.org/IrdhLiVehicleInvolvTypeSrvcall/" style="document"/>
<wsdl:input name="IrdhLiVehicleInvolvTypeSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrdhLiVehicleInvolvTypeSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRDH_LI_VEHICLE_INVOLV_TYPE_SRV">
<wsdl:port binding="tns:IRDH_LI_VEHICLE_INVOLV_TYPE_SRVSoapBinding" name="IRDH_LI_VEHICLE_INVOLV_TYPE_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRDH/IRDH_LI_VEHICLE_INVOLV_TYPE_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>