src/assets/xml/caseIRMG.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrmgListCountrySrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRMG_LIST_COUNTRY_SRV" targetNamespace="http://tempuri.org/IrmgListCountrySrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrmgListCountrySrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrmgListCountrySrv/">
<xs:element name="IrmgListCountrySrvcall" type="tns:IrmgListCountrySrvcall"/>
<xs:element name="IrmgListCountrySrvcallResponse" type="tns:IrmgListCountrySrvcallResponse"/>
<xs:complexType name="IrmgListCountrySrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrmgListCountrySrvImport" type="tns:IrmgListCountrySrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmgListCountrySrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrmgListCountrySrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrmgListCountrySrvExport" type="tns:IrmgListCountrySrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmgListCountrySrvExport">
<xs:sequence>
<xs:element name="ExportSelectedGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrmgListCountrySrvcallResponse">
<wsdl:part element="tns:IrmgListCountrySrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrmgListCountrySrvcall">
<wsdl:part element="tns:IrmgListCountrySrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRMG_LIST_COUNTRY_SRV">
<wsdl:operation name="IrmgListCountrySrvcall">
<wsdl:input message="tns:IrmgListCountrySrvcall" name="IrmgListCountrySrvcall"> </wsdl:input>
<wsdl:output message="tns:IrmgListCountrySrvcallResponse" name="IrmgListCountrySrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRMG_LIST_COUNTRY_SRVSoapBinding" type="tns:IRMG_LIST_COUNTRY_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrmgListCountrySrvcall">
<soap:operation soapAction="http://tempuri.org/IrmgListCountrySrvcall/" style="document"/>
<wsdl:input name="IrmgListCountrySrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrmgListCountrySrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRMG_LIST_COUNTRY_SRV">
<wsdl:port binding="tns:IRMG_LIST_COUNTRY_SRVSoapBinding" name="IRMG_LIST_COUNTRY_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRMG/IRMG_LIST_COUNTRY_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>