src/assets/xml/caseIRMO.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrmoCrNonKwtVehicleInvolSr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRMO_CR_NON_KWT_VEHICLE_INVOL_SR" targetNamespace="http://tempuri.org/IrmoCrNonKwtVehicleInvolSr/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrmoCrNonKwtVehicleInvolSr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrmoCrNonKwtVehicleInvolSr/">
<xs:element name="IrmoCrNonKwtVehicleInvolSrcall" type="tns:IrmoCrNonKwtVehicleInvolSrcall"/>
<xs:element name="IrmoCrNonKwtVehicleInvolSrcallResponse" type="tns:IrmoCrNonKwtVehicleInvolSrcallResponse"/>
<xs:complexType name="IrmoCrNonKwtVehicleInvolSrcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrmoCrNonKwtVehicleInvolSrImport" type="tns:IrmoCrNonKwtVehicleInvolSrImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmoCrNonKwtVehicleInvolSrImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiShape">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMajorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMinorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOwnerGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportDriverGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiCity">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportMakeGdc2moiMake">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOwnerNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportDriverNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element minOccurs="0" name="VehicleIdNumber" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element minOccurs="0" name="MovementDateTime" type="xs:string"/>
<xs:element minOccurs="0" name="PlateCharacters" type="xs:string"/>
<xs:element minOccurs="0" name="Model" type="xs:string"/>
<xs:element name="YearOfManufacture" type="xs:short"/>
<xs:element minOccurs="0" name="MovementDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="MovementTime" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerNumber" type="xs:string"/>
<xs:element minOccurs="0" name="DriverIdNumber" type="xs:string"/>
<xs:element minOccurs="0" name="DriverIdType" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="DateHappened" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrmoCrNonKwtVehicleInvolSrcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrmoCrNonKwtVehicleInvolSrExport" type="tns:IrmoCrNonKwtVehicleInvolSrExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmoCrNonKwtVehicleInvolSrExport">
<xs:sequence>
<xs:element name="ExportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="SeqNo" type="xs:int"/>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiShape">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMajorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMinorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOwnerGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDriverGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiCity">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMakeGdc2moiMake">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOwnerNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDriverNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element name="VehicleIdNumber" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="MovementDateTime" type="xs:string"/>
<xs:element name="PlateCharacters" type="xs:string"/>
<xs:element name="Model" type="xs:string"/>
<xs:element name="YearOfManufacture" type="xs:short"/>
<xs:element name="MovementDate" nillable="true" type="xs:string"/>
<xs:element name="MovementTime" nillable="true" type="xs:string"/>
<xs:element name="OwnerNumber" type="xs:string"/>
<xs:element name="DriverIdNumber" type="xs:string"/>
<xs:element name="DriverIdType" type="xs:string"/>
<xs:element name="OwnerIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="DateHappened" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrmoCrNonKwtVehicleInvolSrcall">
<wsdl:part element="tns:IrmoCrNonKwtVehicleInvolSrcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrmoCrNonKwtVehicleInvolSrcallResponse">
<wsdl:part element="tns:IrmoCrNonKwtVehicleInvolSrcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRMO_CR_NON_KWT_VEHICLE_INVOL_SR">
<wsdl:operation name="IrmoCrNonKwtVehicleInvolSrcall">
<wsdl:input message="tns:IrmoCrNonKwtVehicleInvolSrcall" name="IrmoCrNonKwtVehicleInvolSrcall"> </wsdl:input>
<wsdl:output message="tns:IrmoCrNonKwtVehicleInvolSrcallResponse" name="IrmoCrNonKwtVehicleInvolSrcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRMO_CR_NON_KWT_VEHICLE_INVOL_SRSoapBinding" type="tns:IRMO_CR_NON_KWT_VEHICLE_INVOL_SR">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrmoCrNonKwtVehicleInvolSrcall">
<soap:operation soapAction="http://tempuri.org/IrmoCrNonKwtVehicleInvolSrcall/" style="document"/>
<wsdl:input name="IrmoCrNonKwtVehicleInvolSrcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrmoCrNonKwtVehicleInvolSrcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRMO_CR_NON_KWT_VEHICLE_INVOL_SR">
<wsdl:port binding="tns:IRMO_CR_NON_KWT_VEHICLE_INVOL_SRSoapBinding" name="IRMO_CR_NON_KWT_VEHICLE_INVOL_SRPort">
<soap:address location="http://10.11.78.103:9080/IRMO/IRMO_CR_NON_KWT_VEHICLE_INVOL_SR"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>