src/assets/xml/caseIRDW.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrdwDisPublicOrgDetailsSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRDW_DIS_PUBLIC_ORG_DETAILS_SRV" targetNamespace="http://tempuri.org/IrdwDisPublicOrgDetailsSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrdwDisPublicOrgDetailsSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrdwDisPublicOrgDetailsSrv/">
<xs:element name="IrdwDisPublicOrgDetailsSrvcall" type="tns:IrdwDisPublicOrgDetailsSrvcall"/>
<xs:element name="IrdwDisPublicOrgDetailsSrvcallResponse" type="tns:IrdwDisPublicOrgDetailsSrvcallResponse"/>
<xs:complexType name="IrdwDisPublicOrgDetailsSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrdwDisPublicOrgDetailsSrvImport" type="tns:IrdwDisPublicOrgDetailsSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdwDisPublicOrgDetailsSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InPoInternalAddressUsage">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="AssociationType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="InInternalAddress">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="GovernorateName" type="xs:string"/>
<xs:element minOccurs="0" name="AreaName" type="xs:string"/>
<xs:element name="BlockNumber" type="xs:short"/>
<xs:element minOccurs="0" name="Street" type="xs:string"/>
<xs:element minOccurs="0" name="Lane" type="xs:string"/>
<xs:element minOccurs="0" name="BuildingType" type="xs:string"/>
<xs:element minOccurs="0" name="Building" type="xs:string"/>
<xs:element name="PlotNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
<xs:element name="Reference" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrdwDisPublicOrgDetailsSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrdwDisPublicOrgDetailsSrvExport" type="tns:IrdwDisPublicOrgDetailsSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrdwDisPublicOrgDetailsSrvExport">
<xs:sequence>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="OutPoInternalAddressUsage">
<xs:complexType>
<xs:sequence>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="AssociationType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="OutInternalAddress">
<xs:complexType>
<xs:sequence>
<xs:element name="GovernorateName" type="xs:string"/>
<xs:element name="AreaName" type="xs:string"/>
<xs:element name="BlockNumber" type="xs:short"/>
<xs:element name="Street" type="xs:string"/>
<xs:element name="Lane" type="xs:string"/>
<xs:element name="BuildingType" type="xs:string"/>
<xs:element name="Building" type="xs:string"/>
<xs:element name="PlotNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportWhereFromIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
<xs:element name="Reference" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="EndDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrdwDisPublicOrgDetailsSrvcall">
<wsdl:part element="tns:IrdwDisPublicOrgDetailsSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrdwDisPublicOrgDetailsSrvcallResponse">
<wsdl:part element="tns:IrdwDisPublicOrgDetailsSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRDW_DIS_PUBLIC_ORG_DETAILS_SRV">
<wsdl:operation name="IrdwDisPublicOrgDetailsSrvcall">
<wsdl:input message="tns:IrdwDisPublicOrgDetailsSrvcall" name="IrdwDisPublicOrgDetailsSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrdwDisPublicOrgDetailsSrvcallResponse" name="IrdwDisPublicOrgDetailsSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRDW_DIS_PUBLIC_ORG_DETAILS_SRVSoapBinding" type="tns:IRDW_DIS_PUBLIC_ORG_DETAILS_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrdwDisPublicOrgDetailsSrvcall">
<soap:operation soapAction="http://tempuri.org/IrdwDisPublicOrgDetailsSrvcall/" style="document"/>
<wsdl:input name="IrdwDisPublicOrgDetailsSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrdwDisPublicOrgDetailsSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRDW_DIS_PUBLIC_ORG_DETAILS_SRV">
<wsdl:port binding="tns:IRDW_DIS_PUBLIC_ORG_DETAILS_SRVSoapBinding" name="IRDW_DIS_PUBLIC_ORG_DETAILS_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRDW/IRDW_DIS_PUBLIC_ORG_DETAILS_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>