src/assets/xml/caseIRMQ.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrmqListVehInvTypeForCviS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_S" targetNamespace="http://tempuri.org/IrmqListVehInvTypeForCviS/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrmqListVehInvTypeForCviS/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrmqListVehInvTypeForCviS/">
<xs:element name="IrmqListVehInvTypeForCviScall" type="tns:IrmqListVehInvTypeForCviScall"/>
<xs:element name="IrmqListVehInvTypeForCviScallResponse" type="tns:IrmqListVehInvTypeForCviScallResponse"/>
<xs:complexType name="IrmqListVehInvTypeForCviScall">
<xs:sequence>
<xs:element minOccurs="0" name="IrmqListVehInvTypeForCviSImport" type="tns:IrmqListVehInvTypeForCviSImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmqListVehInvTypeForCviSImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGpVehicleInvolvementHistory">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOwnerNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportVehGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportOwnerGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element minOccurs="0" name="PlateCharacters" type="xs:string"/>
<xs:element minOccurs="0" name="VehicleIdNumber" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerNumber" type="xs:string"/>
<xs:element minOccurs="0" name="OwnerIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element minOccurs="0" name="DateHappened" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrmqListVehInvTypeForCviScallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrmqListVehInvTypeForCviSExport" type="tns:IrmqListVehInvTypeForCviSExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrmqListVehInvTypeForCviSExport">
<xs:sequence>
<xs:element name="ExportDriverNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMakeGdc2moiMake">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiCity">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportDriverGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMinorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportMajorColorGdc2moiColor">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiShape">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedVehicleInvolvementHistory">
<xs:complexType>
<xs:sequence>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGroup">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportGpIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpVehicleInvolvementType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGpVehicleInvolvementHistory">
<xs:complexType>
<xs:sequence>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
<xs:element name="SequenceNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOwnerNameIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportVehGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
<xs:element name="MoiIdentifier" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportOwnerGdc2moiCountry">
<xs:complexType>
<xs:sequence>
<xs:element name="CustomsText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGdc2moiMovementInformation">
<xs:complexType>
<xs:sequence>
<xs:element name="MoiIdentifier" type="xs:int"/>
<xs:element name="PlateNumber" type="xs:int"/>
<xs:element name="PlateCharacters" type="xs:string"/>
<xs:element name="VehicleIdNumber" type="xs:string"/>
<xs:element name="OwnerNumber" type="xs:string"/>
<xs:element name="OwnerIdType" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseVehicleInvolvement">
<xs:complexType>
<xs:sequence>
<xs:element name="DateInvolved" nillable="true" type="xs:string"/>
<xs:element name="Description" type="xs:string"/>
<xs:element name="SeqNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef000PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportRef00PublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
<xs:element name="DateHappened" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrmqListVehInvTypeForCviScallResponse">
<wsdl:part element="tns:IrmqListVehInvTypeForCviScallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrmqListVehInvTypeForCviScall">
<wsdl:part element="tns:IrmqListVehInvTypeForCviScall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_S">
<wsdl:operation name="IrmqListVehInvTypeForCviScall">
<wsdl:input message="tns:IrmqListVehInvTypeForCviScall" name="IrmqListVehInvTypeForCviScall"> </wsdl:input>
<wsdl:output message="tns:IrmqListVehInvTypeForCviScallResponse" name="IrmqListVehInvTypeForCviScallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_SSoapBinding" type="tns:IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_S">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrmqListVehInvTypeForCviScall">
<soap:operation soapAction="http://tempuri.org/IrmqListVehInvTypeForCviScall/" style="document"/>
<wsdl:input name="IrmqListVehInvTypeForCviScall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrmqListVehInvTypeForCviScallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_S">
<wsdl:port binding="tns:IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_SSoapBinding" name="IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_SPort">
<soap:address location="http://10.11.78.103:9080/IRMQ/IRMQ_LIST_VEH_INV_TYPE_FOR_CVI_S"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>