src/assets/xml/caseIRBZ.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrbzMaintainCaseMovementSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBZ_MAINTAIN_CASE_MOVEMENT_SRV" targetNamespace="http://tempuri.org/IrbzMaintainCaseMovementSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrbzMaintainCaseMovementSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrbzMaintainCaseMovementSrv/">
<xs:element name="IrbzMaintainCaseMovementSrvcall" type="tns:IrbzMaintainCaseMovementSrvcall"/>
<xs:element name="IrbzMaintainCaseMovementSrvcallResponse" type="tns:IrbzMaintainCaseMovementSrvcallResponse"/>
<xs:complexType name="IrbzMaintainCaseMovementSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrbzMaintainCaseMovementSrvImport" type="tns:IrbzMaintainCaseMovementSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbzMaintainCaseMovementSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportHdIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Text27" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportSelectedCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportLastMovementPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportLastMovementCaseMovement">
<xs:complexType>
<xs:sequence>
<xs:element name="SequenceNo" type="xs:int"/>
<xs:element name="ReferenceType" type="xs:short"/>
<xs:element minOccurs="0" name="ReferenceNo" type="xs:string"/>
<xs:element minOccurs="0" name="DateReceived" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportCaseMovement">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="DateReceived" nillable="true" type="xs:string"/>
<xs:element name="SequenceNo" type="xs:int"/>
<xs:element minOccurs="0" name="ReferenceNo" type="xs:string"/>
<xs:element name="ReferenceType" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrbzMaintainCaseMovementSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrbzMaintainCaseMovementSrvExport" type="tns:IrbzMaintainCaseMovementSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbzMaintainCaseMovementSrvExport">
<xs:sequence>
<xs:element name="ExportSelectedCaseMovementOrganization">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportLastMovementPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportLastMovementCaseMovement">
<xs:complexType>
<xs:sequence>
<xs:element name="ReferenceType" type="xs:short"/>
<xs:element name="ReferenceNo" type="xs:string"/>
<xs:element name="DateReceived" nillable="true" type="xs:string"/>
<xs:element name="SequenceNo" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="Action" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCasePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseType">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCase">
<xs:complexType>
<xs:sequence>
<xs:element name="CaseYearIdent" type="xs:short"/>
<xs:element name="CaseNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportHdIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Text27" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCaseMovement">
<xs:complexType>
<xs:sequence>
<xs:element name="DateReceived" nillable="true" type="xs:string"/>
<xs:element name="SequenceNo" type="xs:int"/>
<xs:element name="ReferenceNo" type="xs:string"/>
<xs:element name="ReferenceType" type="xs:short"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrbzMaintainCaseMovementSrvcallResponse">
<wsdl:part element="tns:IrbzMaintainCaseMovementSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbzMaintainCaseMovementSrvcall">
<wsdl:part element="tns:IrbzMaintainCaseMovementSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBZ_MAINTAIN_CASE_MOVEMENT_SRV">
<wsdl:operation name="IrbzMaintainCaseMovementSrvcall">
<wsdl:input message="tns:IrbzMaintainCaseMovementSrvcall" name="IrbzMaintainCaseMovementSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrbzMaintainCaseMovementSrvcallResponse" name="IrbzMaintainCaseMovementSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBZ_MAINTAIN_CASE_MOVEMENT_SRVSoapBinding" type="tns:IRBZ_MAINTAIN_CASE_MOVEMENT_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrbzMaintainCaseMovementSrvcall">
<soap:operation soapAction="http://tempuri.org/IrbzMaintainCaseMovementSrvcall/" style="document"/>
<wsdl:input name="IrbzMaintainCaseMovementSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrbzMaintainCaseMovementSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBZ_MAINTAIN_CASE_MOVEMENT_SRV">
<wsdl:port binding="tns:IRBZ_MAINTAIN_CASE_MOVEMENT_SRVSoapBinding" name="IRBZ_MAINTAIN_CASE_MOVEMENT_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRBZ/IRBZ_MAINTAIN_CASE_MOVEMENT_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>