src/assets/xml/caseIRIY.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IriyLiStatOffAuthJobCSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRIY_LI_STAT_OFF_AUTH_JOB_C_SRV" targetNamespace="http://tempuri.org/IriyLiStatOffAuthJobCSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IriyLiStatOffAuthJobCSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IriyLiStatOffAuthJobCSrv/">
<xs:element name="IriyLiStatOffAuthJobCSrvcall" type="tns:IriyLiStatOffAuthJobCSrvcall"/>
<xs:element name="IriyLiStatOffAuthJobCSrvcallResponse" type="tns:IriyLiStatOffAuthJobCSrvcallResponse"/>
<xs:complexType name="IriyLiStatOffAuthJobCSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IriyLiStatOffAuthJobCSrvImport" type="tns:IriyLiStatOffAuthJobCSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IriyLiStatOffAuthJobCSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportGp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ImportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element name="AuthNationalNum" type="xs:int"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportJobClassification">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportLastStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportFristStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IriyLiStatOffAuthJobCSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IriyLiStatOffAuthJobCSrvExport" type="tns:IriyLiStatOffAuthJobCSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IriyLiStatOffAuthJobCSrvExport">
<xs:sequence>
<xs:element name="ExportSelectedStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedJobClassification">
<xs:complexType>
<xs:sequence>
<xs:element name="Code" type="xs:short"/>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportSelectedIncidentWorkArea">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportGp">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportIrWork">
<xs:complexType>
<xs:sequence>
<xs:element name="ConcatArabicName" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element name="AuthNationalNum" type="xs:int"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportJobClassification">
<xs:complexType>
<xs:sequence>
<xs:element name="Description" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportLastStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportFristStatOffActionAuth">
<xs:complexType>
<xs:sequence>
<xs:element name="AuthCode" type="xs:short"/>
<xs:element name="JobClassCode" type="xs:short"/>
<xs:element name="StartDate" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IriyLiStatOffAuthJobCSrvcallResponse">
<wsdl:part element="tns:IriyLiStatOffAuthJobCSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IriyLiStatOffAuthJobCSrvcall">
<wsdl:part element="tns:IriyLiStatOffAuthJobCSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRIY_LI_STAT_OFF_AUTH_JOB_C_SRV">
<wsdl:operation name="IriyLiStatOffAuthJobCSrvcall">
<wsdl:input message="tns:IriyLiStatOffAuthJobCSrvcall" name="IriyLiStatOffAuthJobCSrvcall"> </wsdl:input>
<wsdl:output message="tns:IriyLiStatOffAuthJobCSrvcallResponse" name="IriyLiStatOffAuthJobCSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRIY_LI_STAT_OFF_AUTH_JOB_C_SRVSoapBinding" type="tns:IRIY_LI_STAT_OFF_AUTH_JOB_C_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IriyLiStatOffAuthJobCSrvcall">
<soap:operation soapAction="http://tempuri.org/IriyLiStatOffAuthJobCSrvcall/" style="document"/>
<wsdl:input name="IriyLiStatOffAuthJobCSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IriyLiStatOffAuthJobCSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRIY_LI_STAT_OFF_AUTH_JOB_C_SRV">
<wsdl:port binding="tns:IRIY_LI_STAT_OFF_AUTH_JOB_C_SRVSoapBinding" name="IRIY_LI_STAT_OFF_AUTH_JOB_C_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRIY/IRIY_LI_STAT_OFF_AUTH_JOB_C_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>