src/assets/xml/policestation.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/IrbnLiPoliceStationSrv/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IRBN_LI_POLICE_STATION_SRV" targetNamespace="http://tempuri.org/IrbnLiPoliceStationSrv/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/IrbnLiPoliceStationSrv/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/IrbnLiPoliceStationSrv/">
<xs:element name="IrbnLiPoliceStationSrvcall" type="tns:IrbnLiPoliceStationSrvcall"/>
<xs:element name="IrbnLiPoliceStationSrvcallResponse" type="tns:IrbnLiPoliceStationSrvcallResponse"/>
<xs:complexType name="IrbnLiPoliceStationSrvcall">
<xs:sequence>
<xs:element minOccurs="0" name="IrbnLiPoliceStationSrvImport" type="tns:IrbnLiPoliceStationSrvImport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbnLiPoliceStationSrvImport">
<xs:sequence>
<xs:element minOccurs="0" name="ImportCreateIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="GpImport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="InIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element minOccurs="0" name="ImportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element minOccurs="0" name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="clientId" type="xs:string"/>
<xs:attribute name="clientPassword" type="xs:string"/>
<xs:attribute name="nextLocation" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="dialect" type="xs:string"/>
</xs:complexType>
<xs:complexType name="IrbnLiPoliceStationSrvcallResponse">
<xs:sequence>
<xs:element minOccurs="0" name="IrbnLiPoliceStationSrvExport" type="tns:IrbnLiPoliceStationSrvExport"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IrbnLiPoliceStationSrvExport">
<xs:sequence>
<xs:element name="ExportWhosePolicePublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportCreateIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="SelectChar" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GpExport">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="row">
<xs:complexType>
<xs:sequence>
<xs:element name="ExportIefSupplied">
<xs:complexType>
<xs:sequence>
<xs:element name="Select" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ExportPublicOrganisation">
<xs:complexType>
<xs:sequence>
<xs:element name="Number" type="xs:int"/>
<xs:element name="Name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="command" type="xs:string"/>
<xs:attribute name="exitState" type="xs:int" use="required"/>
<xs:attribute name="exitStateType" type="xs:int" use="required"/>
<xs:attribute name="exitStateMsg" type="xs:string"/>
</xs:complexType>
<xs:element name="Exception" type="tns:Exception"/>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="IrbnLiPoliceStationSrvcall">
<wsdl:part element="tns:IrbnLiPoliceStationSrvcall" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="Exception">
<wsdl:part element="tns:Exception" name="Exception"> </wsdl:part>
</wsdl:message>
<wsdl:message name="IrbnLiPoliceStationSrvcallResponse">
<wsdl:part element="tns:IrbnLiPoliceStationSrvcallResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="IRBN_LI_POLICE_STATION_SRV">
<wsdl:operation name="IrbnLiPoliceStationSrvcall">
<wsdl:input message="tns:IrbnLiPoliceStationSrvcall" name="IrbnLiPoliceStationSrvcall"> </wsdl:input>
<wsdl:output message="tns:IrbnLiPoliceStationSrvcallResponse" name="IrbnLiPoliceStationSrvcallResponse"> </wsdl:output>
<wsdl:fault message="tns:Exception" name="Exception"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="IRBN_LI_POLICE_STATION_SRVSoapBinding" type="tns:IRBN_LI_POLICE_STATION_SRV">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="IrbnLiPoliceStationSrvcall">
<soap:operation soapAction="http://tempuri.org/IrbnLiPoliceStationSrvcall/" style="document"/>
<wsdl:input name="IrbnLiPoliceStationSrvcall">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="IrbnLiPoliceStationSrvcallResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="IRBN_LI_POLICE_STATION_SRV">
<wsdl:port binding="tns:IRBN_LI_POLICE_STATION_SRVSoapBinding" name="IRBN_LI_POLICE_STATION_SRVPort">
<soap:address location="http://10.11.78.103:9080/IRBN/IRBN_LI_POLICE_STATION_SRV"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>